Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

go-fmt-auth:
  name: go fmt (auth-service)
  entry: bash -c 'cd api/auth-service && go fmt ./...'
  language: system

go-vet-auth:
  name: go vet (auth-service)
  entry: bash -c 'cd api/auth-service && go vet ./...'
  language: system

go-fmt-chat:
  name: go fmt (chat-service)
  entry: bash -c 'cd api/chat-service && go fmt ./...'
  language: system

go-vet-chat:
  name: go vet (chat-service)
  entry: bash -c 'cd api/chat-service && go vet ./...'
  language: system

go-fmt-gateway:
  name: go fmt (gateway)
  entry: bash -c 'cd api/gateway && go fmt ./...'
  language: system

go-vet-gateway:
  name: go vet (gateway)
  entry: bash -c 'cd api/gateway && go vet ./...'
  language: system

go-fmt-user:
  name: go fmt (user-service)
  entry: bash -c 'cd api/user-service && go fmt ./...'
  language: system

go-vet-user:
  name: go vet (user-service)
  entry: bash -c 'cd api/user-service && go vet ./...'
  language: system

ts-lint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && pnpm run lint'
  language: system
  pass_filenames: false

feat: enhance registration steps with additional fields for basic info and email verification
  frontend/src/components/registration/steps/AccountStep.tsx
  frontend/src/components/registration/steps/BasicInfoStep.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/stores/registrationStore.ts
Due: ts-lint

feat: add Radix UI separator and slider components with peer dependencies
  frontend/pnpm-lock.yaml
Due: none

feat: implement complete registration flow with profile data handling and EventSource authentication
  frontend/src/hooks/NotifImage.ts
  frontend/src/hooks/useRegistration.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/services/auth.ts
  frontend/src/stores/registrationStore.ts
  frontend/src/stores/userStore.ts
Due: ts-lint

feat: add stream endpoint for user notifications
  api/gateway/src/routes/notify.go
Due: go-fmt-gateway, go-vet-gateway

fix: remove authentication requirement for inscription page
  frontend/src/main.tsx
Due: ts-lint

feat: update upload settings and Docker configuration for media service
  .gitignore
  api/media-service/src/config/settings.py
  api/media-service/src/handlers/upload.py
  docker-compose.dev.yml
Due: none

feat: enhance login and registration forms with real-time validation and error handling
  frontend/src/components/login/LoginForm.tsx
  frontend/src/components/registration/InputField.tsx
  frontend/src/components/registration/SelectField.tsx
  frontend/src/components/registration/steps/AccountStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/ToastContainer.tsx
  frontend/src/hooks/useLogin.ts
  frontend/src/hooks/useToast.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/stores/registrationStore.ts
  frontend/src/stores/userStore.ts
Due: ts-lint

Refactor alert components and error handling
  frontend/src/components/login/LoginForm.tsx
  frontend/src/components/registration/HeightSlider.tsx
  frontend/src/components/registration/steps/AccountStep.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/error-alert.tsx
  frontend/src/components/ui/form-errors.tsx
  frontend/src/components/ui/global-error-handler.tsx
  frontend/src/components/ui/password-strength.tsx
  frontend/src/hooks/useLogin.ts
  frontend/src/hooks/useRegistration.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/errorHandler.ts
  frontend/src/utils/passwordValidator.ts
Due: ts-lint

feat: implement registration validation logic and refactor related functions
  frontend/src/hooks/useRegistration.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/registrationValidator.ts
Due: ts-lint

feat: update API base URL configuration and adjust registration relationship type default
  frontend/src/services/api.ts
  frontend/src/utils/registrationValidator.ts
  frontend/vite.config.ts
Due: ts-lint

feat: implement image upload functionality with enhanced notifications and UI components
  frontend/src/components/registration/steps/BasicInfoStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/image-upload/ActionButtons.tsx
  frontend/src/components/registration/steps/image-upload/AddImageButton.tsx
  frontend/src/components/registration/steps/image-upload/EmptyState.tsx
  frontend/src/components/registration/steps/image-upload/ImageGrid.tsx
  frontend/src/components/registration/steps/image-upload/ImagePreviewItem.tsx
  frontend/src/components/registration/steps/image-upload/PhotoGuidelines.tsx
  frontend/src/components/registration/steps/image-upload/index.ts
  frontend/src/components/registration/steps/image-upload/types.ts
  frontend/src/components/registration/steps/image-upload/useImageUpload.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/smashNotifications.ts
Due: ts-lint

feat: implement profile completion notifications and enhance error handling for registration process
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/hooks/useProfileNotifications.ts
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/smashNotifications.ts
Due: ts-lint

refactor: remove unused handleSkip function and update ActionButtons styling for improved UI
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/image-upload/ActionButtons.tsx
  frontend/src/components/registration/steps/image-upload/useImageUpload.ts
  frontend/src/stores/registrationStore.ts
Due: ts-lint

refactor: enhance registration store with improved error handling, utility functions, and type definitions
  frontend/src/stores/registrationStore.ts
Due: ts-lint

feat: enhance image upload step with improved validation, error messages, and UI updates
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/image-upload/ActionButtons.tsx
  frontend/src/components/registration/steps/image-upload/AddImageButton.tsx
  frontend/src/components/registration/steps/image-upload/EmptyState.tsx
  frontend/src/components/registration/steps/image-upload/ImageGrid.tsx
  frontend/src/components/registration/steps/image-upload/ImagePreviewItem.tsx
  frontend/src/components/registration/steps/image-upload/PhotoGuidelines.tsx
  frontend/src/components/registration/steps/image-upload/index.ts
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/registrationValidator.ts
Due: ts-lint

feat: add hooks for filters, authentication, registration, and notifications
  frontend/src/components/registration/steps/image-upload/index.ts
  frontend/src/components/registration/steps/image-upload/useImageUpload.ts
  frontend/src/hooks/README.md
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/hooks/api/useEditProfile.ts
  frontend/src/hooks/api/useFilters.ts
  frontend/src/hooks/auth/useAuth.ts
  frontend/src/hooks/auth/useLogin.ts
  frontend/src/hooks/auth/useTokenRefresh.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/registration/useAvailabilityCheck.ts
  frontend/src/hooks/registration/useEmailVerification.ts
  frontend/src/hooks/registration/useImageUpload.ts
  frontend/src/hooks/registration/useRegistration.ts
  frontend/src/hooks/registration/useRegistrationSubmission.ts
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/ui/useNotifications.ts
  frontend/src/hooks/ui/useProfileNotifications.ts
  frontend/src/hooks/ui/useTheme.ts
  frontend/src/hooks/ui/useToast.ts
  frontend/src/stores/registrationStore.ts
Due: ts-lint

refactor: update import paths for hooks to use unified structure
  frontend/src/components/Notifications.tsx
  frontend/src/components/RootRedirect.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/components/layout/TopBar.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/image-upload/index.ts
  frontend/src/components/ui/ToastContainer.tsx
  frontend/src/hooks/registration/useRegistration.ts
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/smashNotifications.ts
Due: ts-lint

feat: integrate image upload handling into registration process
  frontend/src/hooks/registration/useImageUpload.ts
  frontend/src/hooks/registration/useRegistration.ts
Due: ts-lint

refactor: update API endpoints to use versioned paths for chat and discover services
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/services/api.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/discoverStore.ts
Due: ts-lint

refactor: comment out API calls in discoverStore for future implementation
  frontend/src/stores/discoverStore.ts
Due: ts-lint

feat: enhance image upload handling and profile update process in registration flow
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/registration/useImageUpload.ts
  frontend/src/hooks/registration/useProfileUpdate.ts
  frontend/src/hooks/registration/useRegistration.ts
  frontend/src/stores/registrationStore.ts
Due: ts-lint

feat: refactor registration logic into dedicated useRegistrationLogic hook and streamline image upload handling
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/hooks/auth/useTokenRefresh.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/registration/useRegistration.ts
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/registration/useRegistrationSubmission.ts
  frontend/src/stores/registrationStore.ts
Due: ts-lint

refactor: remove unused completeRegistration function and associated ActionButtons
  frontend/src/components/registration/steps/ImageUploadStep.tsx
Due: ts-lint

feat: Implement chat service with conversation and message handling
  api/chat-service/.air.toml
  api/chat-service/go.mod
  api/chat-service/go.sum
  api/chat-service/src/conf/db.go
  api/chat-service/src/conf/redis.go
  api/chat-service/src/handlers/conversation.go
  api/chat-service/src/handlers/health.go
  api/chat-service/src/handlers/message.go
  api/chat-service/src/handlers/websocket.go
  api/chat-service/src/main.go
  api/chat-service/src/middleware/auth.go
  api/chat-service/src/models/discussion.go
  api/chat-service/src/models/message.go
  api/chat-service/src/models/user.go
  api/chat-service/src/services/conversation_service.go
  api/chat-service/src/services/message_service.go
  api/chat-service/src/services/websocket_service.go
  api/chat-service/src/utils/response.go
  api/gateway/src/routes/chat.go
  api/shared/errors/errors.go
  api/shared/middleware/error_handler.go
  api/shared/response/response.go
  api/shared/utils/request_helpers.go
Due: go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway

feat: Implement chat service with WebSocket connections and conversation handling
  api/chat-service/src/connections/websocket_manager.go
  api/chat-service/src/handlers/chat_handlers.go
  api/chat-service/src/main.go
  api/chat-service/src/messaging/publisher.go
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/types/interfaces.go
  api/chat-service/src/types/requests.go
  api/chat-service/src/types/responses.go
Due: go-fmt-chat, go-vet-chat

feat: Implement WebSocket connection management and messaging system
  api/chat-service/src/connections/websocket_manager.go
  api/chat-service/src/handlers/websocket.go
  api/chat-service/src/main.go
  api/chat-service/src/messaging/publisher.go
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/types/interfaces.go
  api/chat-service/src/websocket/connection.go
  api/chat-service/src/websocket/errors.go
  api/chat-service/src/websocket/hub.go
  api/chat-service/src/websocket/types.go
Due: go-fmt-chat, go-vet-chat

feat: Add README for chat service with architecture, technologies, and API documentation
  api/chat-service/README.md
Due: none

fix(map) changement bg map
  frontend/src/pages/Map.tsx
Due: ts-lint

fix(user creation): ajout direct des user sans wait des 500 + verif schema init.sql pour supp data
  api/user-creation/src/main.py
  services/database/init.sql
Due: none

feat(volume-clean): ajout du make volume-clean dans le makefile + ajout petit a petit dans user creation
  Makefile
  api/user-creation/src/main.py
Due: none

Feat(mobile) Ajout du bouton de deconnexion sur mobile
  docker-compose.dev.yml
  frontend/src/components/chat/ChatBubble.tsx
  frontend/src/components/discover/DiscoverHeader.tsx
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/index.css
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/Map.tsx
Due: ts-lint

fix(init)
  docker-compose.dev.yml
Due: none

fix(gateway notify): remise en forme et fix du lien
  api/gateway/src/routes/notify.go
Due: go-fmt-gateway, go-vet-gateway

feat: Add created_at and updated_at timestamps to discussion and messages tables
  services/database/init.sql
Due: none

feat: Add SMTP configuration and frontend domain settings to environment files
  .env.dev
  .env.example
  docker-compose.dev.yml
Due: none

feat: Refactor WebSocket connection management and add monitoring endpoints
  api/chat-service/src/connections/websocket_manager.go
  api/chat-service/src/handlers/monitoring.go
  api/chat-service/src/handlers/websocket.go
  api/chat-service/src/main.go
  api/chat-service/src/models/user.go
  api/chat-service/src/websocket/connection.go
  api/chat-service/src/websocket/connection_test.go
  api/chat-service/src/websocket/hub.go
  api/chat-service/src/websocket/hub_test.go
Due: go-fmt-chat, go-vet-chat

feat(Inscription) Modif localisation page dans l'inscription
  docker-compose.dev.yml
  frontend/src/components/edit-profile/sections/LocationCareerSection.tsx
  frontend/src/components/profile/ProfilePhotos.tsx
  frontend/src/components/registration/HeightSlider.tsx
  frontend/src/components/registration/steps/BasicInfoStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/PersonalStep.tsx
  frontend/src/hooks/useGeolocationCity.ts
  frontend/src/utils/registrationValidator.ts
Due: ts-lint

feat(connexion websocket)
  api/gateway/go.mod
  api/gateway/go.sum
  api/gateway/src/proxy/proxy.go
  api/gateway/src/routes/notify.go
  api/notify-service/Dockerfile
  api/notify-service/readme
  api/notify-service/requirements.txt
  api/notify-service/src/auth.py
  api/notify-service/src/main.py
  api/notify-service/src/notification_manager.py
  api/notify-service/src/oldmain.py
  api/notify-service/src/redis_listener.py
  api/notify-service/src/types.py
  frontend/src/hooks/ui/NotifImage.ts
  services/proxy/Caddyfile
Due: go-fmt-gateway, go-vet-gateway, ts-lint

fix(inscription) fix responsive de l'inscription
  frontend/src/components/registration/ProgressBar.tsx
  frontend/src/pages/InscriptionPage.tsx
Due: ts-lint

Path conditions:
  go-fmt-auth: any of: ^api/auth-service/.*\.go$
  go-vet-auth: any of: ^api/auth-service/.*\.go$
  go-fmt-chat: any of: ^api/chat-service/.*\.go$
  go-vet-chat: any of: ^api/chat-service/.*\.go$
  go-fmt-gateway: any of: ^api/gateway/.*\.go$
  go-vet-gateway: any of: ^api/gateway/.*\.go$
  go-fmt-user: any of: ^api/user-service/.*\.go$
  go-vet-user: any of: ^api/user-service/.*\.go$
  ts-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
