Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

.pre-commit-config.yaml:

repos:
  # Python format & lint - only for Python services
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^api/.*/src/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^api/.*/src/.*\.py$
        args: ["--profile", "black"]


  # Go format & lint - for each Go service
  - repo: local
    hooks:
      - id: go-fmt-auth
        name: go fmt (auth-service)
        entry: bash -c 'cd api/auth-service && go fmt ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-vet-auth
        name: go vet (auth-service)
        entry: bash -c 'cd api/auth-service && go vet ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-fmt-chat
        name: go fmt (chat-service)
        entry: bash -c 'cd api/chat-service && go fmt ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-vet-chat
        name: go vet (chat-service)
        entry: bash -c 'cd api/chat-service && go vet ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-fmt-gateway
        name: go fmt (gateway)
        entry: bash -c 'cd api/gateway && go fmt ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-vet-gateway
        name: go vet (gateway)
        entry: bash -c 'cd api/gateway && go vet ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-fmt-user
        name: go fmt (user-service)
        entry: bash -c 'cd api/user-service && go fmt ./...'
        language: system
        files: ^api/user-service/.*\.go$
      - id: go-vet-user
        name: go vet (user-service)
        entry: bash -c 'cd api/user-service && go vet ./...'
        language: system
        files: ^api/user-service/.*\.go$

  # TypeScript/React format & lint - frontend only
  - repo: local
    hooks:
      - id: ts-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

feat: Update environment variable defaults in docker-compose for improved configuration
  docker-compose.dev.yml
Due: none

refactor: remove deprecated error handling and response utilities
  api/shared/errors/errors.go
  api/shared/middleware/error_handler.go
  api/shared/response/response.go
  api/shared/utils/request_helpers.go
Due: none

feat(websocket notif) envoi des notifs par redis
  api/notify-service/Dockerfile
  api/notify-service/readme
  api/notify-service/src/auth.py
  api/notify-service/src/main.py
  api/notify-service/src/notification_manager.py
  api/notify-service/src/oldmain.py
  api/notify-service/src/redis_listener.py
  api/notify-service/src/types.py
  frontend/src/hooks/ui/NotifImage.ts
Due: ts-lint

feat(websocket): implement unified WebSocket management and routing
  api/gateway/src/main.go
  api/gateway/src/proxy/proxy.go
  api/gateway/src/routes/chat.go
  api/gateway/src/routes/notify.go
  api/gateway/src/routes/websocket.go
  api/gateway/src/services/config.go
  api/gateway/src/websocket/client.go
  api/gateway/src/websocket/handlers.go
  api/gateway/src/websocket/logger.go
  api/gateway/src/websocket/manager.go
  api/gateway/src/websocket/types.go
Due: go-fmt-gateway, go-vet-gateway

fix(proxy): update WebSocket notification route to handle all WebSocket requests
  services/proxy/Caddyfile
Due: none

docs(README): enhance documentation for WebSocket features and security measures
  api/gateway/README.md
Due: none

feat: Implement unified WebSocket service for chat and notifications
  frontend/src/components/WebSocketStatus.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/useWebSocketConnection.ts
  frontend/src/main.tsx
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/services/README.md
  frontend/src/services/websocket.ts
  frontend/src/services/websocket/chatService.ts
  frontend/src/services/websocket/connection.ts
  frontend/src/services/websocket/index.ts
  frontend/src/services/websocket/messageHandler.ts
  frontend/src/services/websocket/subscriptionService.ts
  frontend/src/services/websocket/types.ts
  frontend/src/stores/chatStore.ts
Due: ts-lint

fix(proxy): update WebSocket route handling to support all WebSocket paths
  services/proxy/Caddyfile
Due: none

feat(websocket): enhance WebSocket connection handling and add NotificationService for managing notifications
  frontend/src/hooks/useWebSocketConnection.ts
  frontend/src/services/auth.ts
  frontend/src/services/websocket.ts
  frontend/src/services/websocket/connection.ts
  frontend/src/services/websocket/messageHandler.ts
  frontend/src/services/websocket/notificationService.ts
Due: ts-lint

feat(gateway): add ALLOWED_ORIGINS environment variable for CORS configuration
  docker-compose.dev.yml
Due: none

feat(chat): implement ChatApiService and ChatWebSocketService for chat functionality
  frontend/src/services/README.md
  frontend/src/services/chat/chatApi.ts
  frontend/src/services/chat/chatWebSocket.ts
  frontend/src/services/discover/discoverApi.ts
Due: ts-lint

feat(chat): implement Zustand stores for chat functionality and remove legacy chatStore
  frontend/src/stores/chat/chatConnectionStore.ts
  frontend/src/stores/chat/conversationsStore.ts
  frontend/src/stores/chat/index.ts
  frontend/src/stores/chat/messagesStore.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/discoverStore.ts
Due: ts-lint

feat: refactor chat and discover functionalities, implement message handling, and enhance UI interactions
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/hooks/api/useMessages.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/types/chat.ts
  frontend/src/types/discover.ts
Due: ts-lint

feat: Implement match and matrix services with endpoints for user interactions
  api/match-service/requirements.txt
  api/match-service/src/app/__init__.py
  api/match-service/src/app/config/__init__.py
  api/match-service/src/app/config/database.py
  api/match-service/src/app/models/__init__.py
  api/match-service/src/app/models/image.py
  api/match-service/src/app/models/tag.py
  api/match-service/src/app/models/user.py
  api/match-service/src/app/models/user_tag.py
  api/match-service/src/app/routes/__init__.py
  api/match-service/src/app/routes/health.py
  api/match-service/src/app/routes/matches.py
  api/match-service/src/app/routes/matrix.py
  api/match-service/src/app/services/__init__.py
  api/match-service/src/app/services/match_service.py
  api/match-service/src/app/services/matrix_service.py
  api/match-service/src/app/utils/__init__.py
  api/match-service/src/app/utils/error_handlers.py
  api/match-service/src/app/utils/validators.py
  api/match-service/src/config/__init__.py
  api/match-service/src/config/enum_mapping.py
  api/match-service/src/main.py
  api/match-service/src/utils/__init__.py
  api/match-service/src/utils/matrix_converter.py
  api/match-service/src/utils/matrix_converter_old.py
Due: none

Implement vector utilities and matching service with comprehensive tests
  api/match-service/requirements.txt
  api/match-service/src/app/__init__.py
  api/match-service/src/app/core/__init__.py
  api/match-service/src/app/core/cache.py
  api/match-service/src/app/core/config.py
  api/match-service/src/app/core/logging.py
  api/match-service/src/app/core/security.py
  api/match-service/src/app/models/__init__.py
  api/match-service/src/app/models/user_interaction.py
  api/match-service/src/app/models/user_preference.py
  api/match-service/src/app/routes/matches.py
  api/match-service/src/app/services/match_service.py
  api/match-service/src/app/services/vector_matching_service.py
  api/match-service/src/app/utils/vector_utils.py
  api/match-service/src/tests/__init__.py
  api/match-service/src/tests/conftest.py
  api/match-service/src/tests/test_vector_matching_service.py
  api/match-service/src/tests/test_vector_utils.py
  services/database/create_matching_tables.sql
Due: none

feat(routes): restructure match routes for improved organization and add health check endpoint
  api/gateway/src/routes/match.go
Due: go-fmt-gateway, go-vet-gateway

feat: Add match-service with Air configuration, Docker support, and database schema for user preferences and interactions
  api/match-service/.air.toml
  api/match-service/Dockerfile
  api/match-service/go.mod
  api/match-service/go.sum
  docker-compose.dev.yml
  services/database/create_matching_tables.sql
  services/database/init.sql
Due: none

chore: Remove requirements.txt for match service as dependencies are no longer needed
  api/match-service/requirements.txt
Due: none

feat: Add admin middleware and performance monitoring endpoints with caching and database optimization
  api/gateway/src/middleware/admin.go
  api/gateway/src/routes/match.go
  api/match-service/README.md
  api/match-service/src/conf/db.go
  api/match-service/src/handlers/performance.go
  api/match-service/src/main.go
  api/match-service/src/middleware/performance.go
  api/match-service/src/services/vector_matching_service.go
  api/match-service/src/utils/cache_service.go
  api/match-service/src/utils/database_indexes.go
Due: go-fmt-gateway, go-vet-gateway

feat: Implement Redis caching support with configuration and integration tests
  .env.dev
  api/match-service/go.mod
  api/match-service/go.sum
  api/match-service/src/utils/cache_service.go
  api/match-service/test_redis_cache.go
  docker-compose.dev.yml
Due: none

feat: Implement user preferences and interaction recording in match service
  api/match-service/src/services/cache_service.go
  api/match-service/src/services/compatibility_service.go
  api/match-service/src/services/preferences_service.go
  api/match-service/src/services/user_service.go
  api/match-service/src/services/vector_matching_service.go
Due: none

feat: Implement algorithm and interaction services for user matching
  api/match-service/src/services/algorithm_service.go
  api/match-service/src/services/basic_matching_service.go
  api/match-service/src/services/interaction_service.go
  api/match-service/src/services/match_service.go
Due: none

feat: add admin panel with statistics and trends
  ADMIN_PANEL.md
  api/gateway/src/routes/match.go
  api/match-service/src/handlers/admin_stats.go
  api/match-service/src/main.go
  api/match-service/src/middleware/admin_auth.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/main.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/services/admin.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

refactor: Remove outdated deployment instructions and TODO section from README
  api/match-service/README.md
Due: none

refactor: Update Match Service documentation to reflect Go implementation and Redis caching
  CLAUDE.md
  api/match-service/README.md
Due: none

feat: remove obsolete README file for admin service
  api/admin-service/README.md
Due: none

feat: implement admin service with performance and statistics endpoints
  api/admin-servise/README.md
  api/admin-servise/src/handlers/performance.go
  api/admin-servise/src/handlers/stats.go
  api/admin-servise/src/main.go
  api/gateway/src/routes/admin.go
  api/match-service/src/handlers/performance.go
  api/match-service/src/main.go
  api/match-service/src/middleware/admin_auth.go
Due: go-fmt-gateway, go-vet-gateway

feat: Implement admin authentication and authorization
  ADMIN_PANEL_README.md
  api/admin-servise/src/middleware/admin.go
  api/admin-servise/src/utils/jwt.go
  api/gateway/src/routes/match.go
  frontend/src/components/admin/AdminLoginForm.tsx
  frontend/src/main.tsx
  frontend/src/pages/AdminLoginPage.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/services/admin.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

feat: Implement admin authentication and authorization features, including JWT middleware and admin routes
  api/gateway/src/middleware/jwt.go
  api/gateway/src/routes/admin.go
  frontend/src/components/admin/AdminLayout.tsx
  frontend/src/components/admin/AdminLoginForm.tsx
  frontend/src/components/admin/AdminProtectedRoute.tsx
  frontend/src/components/registration/InputField.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/components/ui/global-error-handler.tsx
  frontend/src/components/ui/password-strength.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/services/admin.ts
  frontend/src/stores/adminAuthStore.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

feat: Refactor profile and messaging components for improved data handling and UI consistency
  frontend/src/components/WebSocketStatus.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/hooks/registration/useProfileUpdate.ts
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/registration/useRegistrationSubmission.ts
  frontend/src/hooks/ui/useProfileNotifications.ts
  frontend/src/hooks/useWebSocketConnection.ts
  frontend/src/main.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/ConversationPage.tsx
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/services/imageService.ts
  frontend/src/stores/discoverStore.ts
  frontend/src/stores/index.ts
  frontend/src/stores/registrationStore.ts
Due: ts-lint

feat: Update stats queries to include user2_id and enable JWT middleware for secured admin routes
  api/admin-servise/src/handlers/stats.go
  api/gateway/src/routes/admin.go
Due: go-fmt-gateway, go-vet-gateway

feat: Update README with new TODOs for admin service, including performance metrics, user management, and advanced administration features
  api/admin-servise/README.md
Due: none

fix: Update candidate user query to exclude inactive users
  api/match-service/src/services/user_service.go
Due: none
