Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

.pre-commit-config.yaml:

repos:
  # Python format & lint - only for Python services
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^api/.*/src/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^api/.*/src/.*\.py$
        args: ["--profile", "black"]


  # Go format & lint - for each Go service
  - repo: local
    hooks:
      - id: go-fmt-auth
        name: go fmt (auth-service)
        entry: bash -c 'cd api/auth-service && go fmt ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-vet-auth
        name: go vet (auth-service)
        entry: bash -c 'cd api/auth-service && go vet ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-fmt-chat
        name: go fmt (chat-service)
        entry: bash -c 'cd api/chat-service && go fmt ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-vet-chat
        name: go vet (chat-service)
        entry: bash -c 'cd api/chat-service && go vet ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-fmt-gateway
        name: go fmt (gateway)
        entry: bash -c 'cd api/gateway && go fmt ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-vet-gateway
        name: go vet (gateway)
        entry: bash -c 'cd api/gateway && go vet ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-fmt-user
        name: go fmt (user-service)
        entry: bash -c 'cd api/user-service && go fmt ./...'
        language: system
        files: ^api/user-service/.*\.go$
      - id: go-vet-user
        name: go vet (user-service)
        entry: bash -c 'cd api/user-service && go vet ./...'
        language: system
        files: ^api/user-service/.*\.go$

  # TypeScript/React format & lint - frontend only
  - repo: local
    hooks:
      - id: ts-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

Fix(Likes) connexion api des profils qui likent
  api/gateway/src/routes/match.go
  api/match-service/src/handlers/received_likes_handler.go
  api/match-service/src/main.go
  frontend/src/components/likes/LikesTabSimple.tsx
  frontend/src/services/matchService.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

feat(discover): streamline action handling for user interactions; consolidate error handling and remove unused state
  frontend/src/hooks/useMatches.ts
  frontend/src/pages/DiscoverPage.tsx
Due: ts-lint

Feat(matches) ajout card matches
  frontend/src/components/matches/MatchCard.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/matchService.ts
Due: ts-lint

Feat (matches) Lien entre likes et matches, ainsi que suppression du like si match ou rejet
  frontend/src/components/likes/LikeCard.tsx
  frontend/src/components/likes/LikesTab.tsx
  frontend/src/components/likes/LikesTabSimple.tsx
  frontend/src/pages/MatchesPage.tsx
Due: ts-lint

feat: refactor payment handling by removing legacy Stripe endpoints and enhancing user premium info model
  api/paiements-service/go.mod
  api/paiements-service/go.sum
  api/paiements-service/src/main.go
  api/paiements-service/src/models/user.go
  api/paiements-service/src/stripe/stripe.controller.go
  api/paiements-service/src/stripe/stripe.route.go
  test_stripe_webhook.sh
  test_webhook.sh
Due: none

feat: implement Stripe checkout session management and enhance webhook handling
  api/gateway/src/routes/paiements.go
  api/paiements-service/src/conf/db.go
  api/paiements-service/src/handlers/subscription_handler.go
  api/paiements-service/src/handlers/webhook_handler.go
  api/paiements-service/src/models/checkout_session.go
  api/paiements-service/src/services/checkout_service.go
  api/paiements-service/src/services/event_service.go
  api/paiements-service/src/services/subscription_service.go
  frontend/src/components/settings/PayementModal.tsx
  services/proxy/Caddyfile
Due: go-fmt-gateway, go-vet-gateway, ts-lint

feat: Upgrade to Stripe API v82; enhance payment handling and subscription retrieval logic
  api/paiements-service/src/services/payment_service.go
Due: none

fix: Update database queries to use 'stripe_customer_id' for subscription retrieval
  api/paiements-service/src/services/event_service.go
  api/paiements-service/src/services/payment_service.go
Due: none

feat(database): restructure database initialization and schema setup
  services/database/01_schema_setup.sql
  services/database/02_enums.sql
  services/database/03_user_tables.sql
  services/database/04_matching_tables.sql
  services/database/05_chat_tables.sql
  services/database/06_payment_tables.sql
  services/database/07_functions_triggers.sql
  services/database/08_indexes.sql
  services/database/09_views.sql
  services/database/10_test_data.sql
  services/database/init.sql
Due: none

feat(premium): add PremiumGate component for premium feature access control
  frontend/src/components/premium/PremiumGate.tsx
  frontend/src/components/profile/ProfileViewers.tsx
  frontend/src/components/profile/ViewedProfilesList.tsx
  frontend/src/hooks/api/useProfileAnalytics.ts
  frontend/src/hooks/usePremiumAccess.ts
  frontend/src/pages/MatchesPage.tsx
Due: ts-lint

chore: remove PAIEMENTS_SETUP.md as it is no longer needed
  PAIEMENTS_SETUP.md
Due: none

feat(UserMap): add temporary location marker and edit mode functionality
  frontend/src/components/map/UserMap.tsx
Due: ts-lint

Feat(online status) ajout loupiote statut en ligne
  frontend/src/components/messages/ConversationsList.tsx
Due: ts-lint

Remove unused media routes from the authorized group
  api/media-service/src/main.go
Due: none

Refactor Dockerfile: Add ca-certificates installation and ensure uploads directory ownership in development stage
  api/media-service/Dockerfile
Due: none

Fix (erreur gestion) Resorbtion des erreurs
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/forgot-password/EmailSentView.tsx
  frontend/src/components/registration/InputField.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/components/ui/password-strength.tsx
  frontend/src/hooks/registration/useRegistrationSubmission.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/registrationStore.ts
  frontend/src/utils/passwordValidator.ts
Due: ts-lint

Feat(registration): Enhance InputField and AccountStep with validation and help text
  frontend/src/components/registration/InputField.tsx
  frontend/src/components/registration/steps/AccountStep.tsx
  frontend/src/hooks/useFieldValidation.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/utils/errorHandler.ts
Due: ts-lint

Feat(registration): Enhance registration steps with error handling and user feedback
  frontend/src/components/registration/HeightSlider.tsx
  frontend/src/components/registration/steps/BasicInfoStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/PersonalStep.tsx
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/useFieldValidation.ts
  frontend/src/hooks/useRegistrationErrors.ts
  frontend/src/utils/registrationValidator.ts
Due: ts-lint

Fix (clean) nettoyage des erreurs de type
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/WebSocketStatus.tsx
  frontend/src/components/cards/ProfileCard.tsx
  frontend/src/components/discover/InfoCard.tsx
  frontend/src/components/edit-profile/PhotosSection.tsx
  frontend/src/components/likes/LikesTabSimple.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/components/preferences/MatchingPreferences.old.tsx
  frontend/src/components/preferences/components/GenderSection.tsx
  frontend/src/components/preferences/hooks/usePreferencesForm.ts
  frontend/src/components/premium/PremiumIndicator.tsx
  frontend/src/components/profile/ProfileBio.tsx
  frontend/src/components/ui/EmptyState.tsx
  frontend/src/components/ui/global-error-handler.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/ui/useProfileNotifications.ts
  frontend/src/hooks/useGeolocationCity.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/api.ts
  frontend/src/services/imageService.ts
  frontend/src/services/websocket.ts
  frontend/src/services/websocket/chatService.ts
  frontend/src/services/websocket/connection.ts
  frontend/src/services/websocket/notificationService.ts
  frontend/src/services/websocket/subscriptionService.ts
  frontend/src/services/websocket/types.ts
  frontend/src/stores/chatStore.ts
  frontend/src/utils/chatUtils.ts
  frontend/src/utils/enumValidation.ts
  frontend/src/utils/profileFormatting.ts
  frontend/src/utils/registrationValidator.ts
  frontend/src/utils/typeCheck.ts
Due: ts-lint

Fix(auth): Update error messages for username availability and registration errors
  api/auth-service/src/handlers/auth.go
  frontend/src/stores/authStore.ts
  frontend/src/utils/errorHandler.ts
Due: go-fmt-auth, go-vet-auth, ts-lint

Fix(Map) Ajout onglet map sur mobile
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/services/imageService.ts
Due: ts-lint

Fix(InputField): Import AlertCircle for error display
  frontend/src/components/registration/InputField.tsx
Due: ts-lint

Feat (Suppression) Ajout de la suppression de compte
  api/user-service/src/handlers/profile_delete.go
  frontend/src/components/AppWrapper.tsx
  frontend/src/components/settings/PremiumSection.tsx
  frontend/src/pages/GoodbyePage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/userService.ts
Due: go-fmt-user, go-vet-user, ts-lint

Refactor(api): Remove retryDelay constant and update token refresh logic for login endpoint
  frontend/src/hooks/auth/useLogin.ts
  frontend/src/services/api.ts
Due: ts-lint

Feat(auth): Implement error handling for login via URL parameters and improve navigation on error
  frontend/src/hooks/auth/useLogin.ts
Due: ts-lint

fix(ordre notif): devient plus normal vue<unlike<msg<like<match
  api/match-service/src/services/notifications/notification_service.go
Due: none

fix(match notif pour les 2): j'ajoute le tag db true quand les notifs sont des match pour permettre l'envoi aux 2 users
  api/notify-service/src/notification_manager.py
Due: none

fix(notif): remove des depends car pas d'authorisation ajout des retours fix(delete): fait l'action mais affiche une erreur dans le terminal
  api/notify-service/src/main.py
Due: none

Fix(Ajout) card likes
  api/match-service/src/handlers/interactions_handler.go
  frontend/src/components/likes/LikesTabSimple.tsx
  frontend/src/pages/MatchesPage.tsx
Due: ts-lint

feat(presence): implement user online status tracking with Redis and WebSocket integration
  api/gateway/src/handlers/internal_handler.go
  api/gateway/src/routes/internal.go
  api/gateway/src/websocket/manager.go
  api/user-service/src/conf/redis.go
  api/user-service/src/handlers/online_status.go
  api/user-service/src/main.go
  api/user-service/src/services/chat_presence_service.go
  api/user-service/src/services/gateway_presence_service.go
  api/user-service/src/services/presence_service.go
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

feat(user): add online status endpoint and configure Redis in docker-compose
  api/gateway/src/routes/user.go
  api/user-service/go.mod
  api/user-service/go.sum
  docker-compose.dev.yml
Due: go-fmt-gateway, go-vet-gateway

fix(user): update User model fields for consistency and clarity
  api/auth-service/src/models/users.go
  api/chat-service/src/models/user.go
  api/match-service/src/models/user.go
  api/paiements-service/src/models/user.go
  api/user-service/src/conf/db.go
  api/user-service/src/models/user.go
Due: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-user, go-vet-user

fix(map ui): deplacement du 'nb match sur la carte' de 20px vers le haut
  frontend/src/components/map/UserMap.tsx
  frontend/src/pages/Map.tsx
Due: ts-lint

fix(param logout): ajout de la meme fonction que les autres logout
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

fix(online-status): update response structure to return individual user status fields
  api/user-service/src/handlers/online_status.go
  frontend/src/components/messages/ConversationsList.tsx
Due: go-fmt-user, go-vet-user, ts-lint
