Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

go-fmt-auth:
  name: go fmt (auth-service)
  entry: bash -c 'cd api/auth-service && go fmt ./...'
  language: system

go-vet-auth:
  name: go vet (auth-service)
  entry: bash -c 'cd api/auth-service && go vet ./...'
  language: system

go-fmt-chat:
  name: go fmt (chat-service)
  entry: bash -c 'cd api/chat-service && go fmt ./...'
  language: system

go-vet-chat:
  name: go vet (chat-service)
  entry: bash -c 'cd api/chat-service && go vet ./...'
  language: system

go-fmt-gateway:
  name: go fmt (gateway)
  entry: bash -c 'cd api/gateway && go fmt ./...'
  language: system

go-vet-gateway:
  name: go vet (gateway)
  entry: bash -c 'cd api/gateway && go vet ./...'
  language: system

go-fmt-user:
  name: go fmt (user-service)
  entry: bash -c 'cd api/user-service && go fmt ./...'
  language: system

go-vet-user:
  name: go vet (user-service)
  entry: bash -c 'cd api/user-service && go vet ./...'
  language: system

ts-lint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && pnpm run lint'
  language: system
  pass_filenames: false

refactor(chatApi): remove online/offline methods and update user presence endpoint
  frontend/src/services/chatApi.ts
Due: ts-lint

feat(matchConversions): add isOnline field to ComponentMatch interface and conversion function
  frontend/src/hooks/useMessagesData.ts
  frontend/src/utils/matchConversions.ts
Due: ts-lint

fix(presence-status): update fetchUserProfile return type and improve presence status update logic
  frontend/src/hooks/useMessagesData.ts
Due: ts-lint

chore(dockerfiles): réorganisation des dockerfiles pour aoir l'ordre dev>build>prod
  api/auth-service/Dockerfile
  api/chat-service/Dockerfile
  api/gateway/Dockerfile
  api/match-service/Dockerfile
  api/media-service/Dockerfile
  api/paiements-service/Dockerfile
  api/user-service/Dockerfile
Due: none

Fix(unmatch) cacher les conversations une fois unmatch
  api/chat-service/src/handlers/chat_handlers.go
  api/chat-service/src/main.go
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/types/interfaces.go
  api/gateway/src/routes/chat.go
  api/gateway/src/routes/match.go
  api/match-service/src/handlers/interactions_handler.go
  api/match-service/src/handlers/matches_handler.go
  api/match-service/src/handlers/received_likes_handler.go
  api/match-service/src/main.go
  api/match-service/src/services/interactions/core/interaction_service.go
  api/match-service/src/services/interactions/interaction_manager.go
  frontend/src/hooks/useMessagesData.ts
Due: go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, ts-lint

Fix(activeConve) modif des conversations
  api/match-service/src/services/interactions/core/interaction_service.go
  api/match-service/src/services/interactions/interaction_manager.go
  frontend/src/hooks/useMessagesData.ts
Due: ts-lint

Refactor InteractionManager: remove unused callChatService function and clean up imports
  api/match-service/src/services/interactions/interaction_manager.go
Due: none

Refactor Dockerfile targets to use 'builder' for all services and update environment variables for paiements-service
  docker-compose.prode.yml
  frontend/src/components/registration/InputField.tsx
  frontend/src/hooks/useFieldValidation.ts
  frontend/src/pages/MatchesPage.tsx
Due: ts-lint

Refactor Dockerfiles to use 'production' as the build target and update docker-compose configuration for all services
  api/auth-service/Dockerfile
  api/chat-service/Dockerfile
  api/match-service/Dockerfile
  api/notify-service/Dockerfile
  api/paiements-service/Dockerfile
  api/user-service/Dockerfile
  docker-compose.prode.yml
Due: none

Implement unmatch notification feature and update notification types
  api/match-service/src/handlers/matches_handler.go
  api/match-service/src/services/interactions/interaction_manager.go
  api/match-service/src/services/notifications/notification_service.go
  api/notify-service/src/notification_types.py
Due: none

Fix Dockerfile to copy templates after building the application
  api/auth-service/Dockerfile
Due: none

Update access token TTL to 6 hours in RefreshTokenHandler
  api/auth-service/src/handlers/token.go
Due: go-fmt-auth, go-vet-auth

Fix Dockerfile: ensure templates are copied to production stage
  api/auth-service/Dockerfile
Due: none

Fix(upload photos) mise a jour addresse pour upload les photos dans l'inscription
  api/auth-service/Dockerfile
  frontend/index.html
  frontend/src/services/imageService.ts
  frontend/vite.config.ts
Due: ts-lint

Fix(Makefile): update timestamp and improve formatting in volume creation
  Makefile
Due: none

Fix(logo) reapparition des logos
  frontend/index.html
  frontend/src/components/discover/DiscoverHeader.tsx
  frontend/src/components/layout/SideNavigation.tsx
Due: ts-lint

Fix(frontend): change build target from production to development
  docker-compose.prode.yml
Due: none

Feat(profile): add last seen status to user profiles and update related components
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileHeader.tsx
  frontend/src/components/likes/LikeCard.tsx
  frontend/src/components/matches/MatchCard.tsx
  frontend/src/components/ui/LastSeenIndicator.tsx
  frontend/src/services/matchService.ts
Due: ts-lint

Feat(profile): enhance user profile interactions with pagination and last seen status
  frontend/src/components/discover/NoMoreProfiles.tsx
  frontend/src/hooks/useMatches.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/services/matchService.ts
  frontend/src/utils/dateUtils.ts
Due: ts-lint

Feat(notfound): add NotFoundPage component for handling 404 errors
  frontend/src/components/AppWrapper.tsx
  frontend/src/pages/NotFoundPage.tsx
Due: ts-lint

Refactor(ChatPage): remove WebSocket status debug display
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/pages/PremiumPage.tsx
Due: ts-lint

Refactor: remove console.log statements for cleaner code
  frontend/src/components/chat/ChatBubble.tsx
  frontend/src/components/chat/MessageContextMenu.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/contexts/WebSocketContext.tsx
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/useMatches.ts
  frontend/src/hooks/useMessagesData.ts
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/services/api.ts
  frontend/src/services/chatApi.ts
  frontend/src/services/locationService.ts
  frontend/src/services/matchService.ts
  frontend/src/services/subscriptionService.ts
  frontend/src/services/websocket.ts
  frontend/src/services/websocket/connection.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/notificationStore.ts
  frontend/src/utils/smashNotifications.ts
Due: ts-lint

Fix(HandleLogout) fix de la deco
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

Fix: update Makefile to correct volume creation for production
  Makefile
Due: none

Fix: update Dockerfile to create missing cache directory and ensure permissions; add cacheDir configuration in vite.config.ts
  frontend/Dockerfile
  frontend/vite.config.ts
Due: ts-lint

Remove: delete test scripts for Stripe webhook and payment service
  test_stripe_webhook.sh
  test_webhook.sh
Due: none

Remove: delete unused vite.svg file from public directory
  frontend/public/vite.svg
Due: none

docs: refonte complète de la documentation du projet
  ARCHITECTURE.md
  DEVELOPMENT.md
  README.md
Due: none

feat: create common module for shared code across services
  CHANGES.md
  api/common/README.md
  api/common/go.mod
  api/common/models/user.go
  api/common/server/example_main.go.template
  api/common/server/graceful.go
  api/common/utils/response.go
  api/common/utils/response_test.go
  api/common/validation/validator.go
  api/common/validation/validator_test.go
  scripts/apply_respond_error_fix.sh
  scripts/fix_respond_error.sh
Due: none

fix(match-service): standardize RespondError parameter order
  api/match-service/src/handlers/interactions_handler.go
  api/match-service/src/handlers/matches_handler.go
  api/match-service/src/handlers/preferences_handler.go
  api/match-service/src/handlers/profiles_handler.go
  api/match-service/src/handlers/received_likes_handler.go
  api/match-service/src/middleware/auth.go
  api/match-service/src/utils/response.go
Due: none

Rename readme to readme.md
  api/notify-service/readme.md
Due: none

Path conditions:
  go-fmt-auth: any of: ^api/auth-service/.*\.go$
  go-vet-auth: any of: ^api/auth-service/.*\.go$
  go-fmt-chat: any of: ^api/chat-service/.*\.go$
  go-vet-chat: any of: ^api/chat-service/.*\.go$
  go-fmt-gateway: any of: ^api/gateway/.*\.go$
  go-vet-gateway: any of: ^api/gateway/.*\.go$
  go-fmt-user: any of: ^api/user-service/.*\.go$
  go-vet-user: any of: ^api/user-service/.*\.go$
  ts-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
