Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

go-fmt-auth:
  name: go fmt (auth-service)
  entry: bash -c 'cd api/auth-service && go fmt ./...'
  language: system

go-vet-auth:
  name: go vet (auth-service)
  entry: bash -c 'cd api/auth-service && go vet ./...'
  language: system

go-fmt-chat:
  name: go fmt (chat-service)
  entry: bash -c 'cd api/chat-service && go fmt ./...'
  language: system

go-vet-chat:
  name: go vet (chat-service)
  entry: bash -c 'cd api/chat-service && go vet ./...'
  language: system

go-fmt-gateway:
  name: go fmt (gateway)
  entry: bash -c 'cd api/gateway && go fmt ./...'
  language: system

go-vet-gateway:
  name: go vet (gateway)
  entry: bash -c 'cd api/gateway && go vet ./...'
  language: system

go-fmt-user:
  name: go fmt (user-service)
  entry: bash -c 'cd api/user-service && go fmt ./...'
  language: system

go-vet-user:
  name: go vet (user-service)
  entry: bash -c 'cd api/user-service && go vet ./...'
  language: system

ts-lint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && pnpm run lint'
  language: system
  pass_filenames: false

Fix(discover) modification de l'affichage de discover en mobile
  api/user-service/src/handlers/preferences.go
  api/user-service/src/utils/preference_defaults.go
  frontend/src/components/LocationPrompt.tsx
  frontend/src/components/discover/ProfileActions.tsx
  frontend/src/components/discover/ProfileBio.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileContextualOverlay.tsx
  frontend/src/components/discover/ProfileInterests.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/components/registration/HeightSlider.tsx
  frontend/src/components/settings/PremiumSection.tsx
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/hooks/api/useFilters.ts
  frontend/src/hooks/useMatches.ts
  frontend/src/hooks/useNormalizedProfile.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/Map.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/preferencesService.ts
  frontend/src/utils/typeCheck.ts
Due: go-fmt-user, go-vet-user, ts-lint

Fix(NavBar) Suppression stats
  api/auth-service/src/services/email_service.go
  frontend/index.html
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/layout/SideNavigation.tsx
Due: go-fmt-auth, go-vet-auth, ts-lint

Fix(filter) Reinitialisation du filter refaite
  frontend/src/components/preferences/components/PreferencesActions.tsx
  frontend/src/hooks/api/useFilters.ts
  services/database/init.sql
Due: ts-lint

Fix(geoloc) Remise a jour de la geolocalisation et de l'upload des images
  api/gateway/src/routes/user.go
  api/media-service/Dockerfile
  api/media-service/src/handlers/upload.py
  api/user-service/src/handlers/location.go
  api/user-service/src/main.go
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

Refactor(fetchCandidates) Remove token check for user authentication
  frontend/src/hooks/useMatches.ts
Due: ts-lint

Refactor(preferences) Simplify resetPreferences function by removing user ID dependency
  frontend/src/hooks/usePreferences.ts
Due: ts-lint

Refactor(useMatches) Remove unused authService import
  frontend/src/hooks/useMatches.ts
Due: ts-lint

Feat(photo) Possibilite d'ajouter des photos et de modifier leur ordre
  api/user-service/src/handlers/GetOwnProfileHandler.go
  api/user-service/src/handlers/profile_get.go
  api/user-service/src/handlers/profile_update.go
  api/user-service/src/handlers/types.go
  frontend/src/components/edit-profile/PhotosSection.tsx
  frontend/src/hooks/api/useEditProfile.ts
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/services/imageService.ts
  frontend/src/stores/userStore.ts
Due: go-fmt-user, go-vet-user, ts-lint

Fix(Avatar) L'image de l'avatar change selon la photo principale
  frontend/src/components/layout/AuthenticatedLayout.tsx
  frontend/src/components/layout/SideNavigation.tsx
Due: ts-lint

Refactor(chat) Update message structure to align with backend API changes
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/stores/chatStore.ts
Due: ts-lint

Refactor WebSocket connection handling and integrate chat service client
  api/chat-service/src/handlers/websocket.go
  api/chat-service/src/logger/demo.go
  api/chat-service/src/logger/logger.go
  api/chat-service/src/main.go
  api/chat-service/src/messaging/publisher.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/services/message_service.go
  api/chat-service/src/services/websocket_service.go
  api/chat-service/src/websocket/connection.go
  api/chat-service/src/websocket/hub.go
  api/gateway/src/main.go
  api/gateway/src/websocket/chat_client.go
  api/gateway/src/websocket/handlers.go
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/stores/chatStore.ts
Due: go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, ts-lint

Refactor chat service and websocket handling
  api/chat-service/src/handlers/conversation.go
  api/chat-service/src/handlers/message.go
  api/chat-service/src/main.go
  api/chat-service/src/messaging/publisher.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/services/conversation_service.go
  api/chat-service/src/services/message_service.go
  api/chat-service/src/services/notification_service.go
  api/chat-service/src/websocket/connection.go
  api/chat-service/src/websocket/connection_handlers.go
  api/chat-service/src/websocket/hub_broadcast.go
  api/chat-service/src/websocket/hub_core.go
  api/chat-service/src/websocket/hub_gateway.go
Due: go-fmt-chat, go-vet-chat

Implement message reactions and user presence features
  api/chat-service/src/conf/db.go
  api/chat-service/src/handlers/chat_handlers.go
  api/chat-service/src/main.go
  api/chat-service/src/models/reaction.go
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/types/interfaces.go
  api/chat-service/src/websocket/connection_handlers.go
  api/chat-service/src/websocket/hub_core.go
  api/chat-service/src/websocket/types.go
Due: go-fmt-chat, go-vet-chat

feat(chat): add reaction handling and message retrieval methods
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/types/interfaces.go
  api/chat-service/src/websocket/hub_gateway.go
  api/gateway/src/websocket/chat_client.go
  api/gateway/src/websocket/handlers.go
  api/gateway/src/websocket/types.go
Due: go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway

feat(database): add message_reactions table and indexes
  services/database/init.sql
Due: none

feat(chat): implement message reactions and emoji picker components
  frontend/src/components/chat/ChatBubble.tsx
  frontend/src/components/chat/EmojiPicker.tsx
  frontend/src/components/chat/MessageContextMenu.tsx
  frontend/src/components/chat/MessageReactions.tsx
  frontend/src/components/chat/README.md
  frontend/src/pages/ChatPageWebSocket.tsx
  frontend/src/services/websocket/types.ts
  frontend/src/stores/chatStore.ts
Due: ts-lint

fix(chat): initialize longPressTimer with null and clean up imports in MessageContextMenu
  frontend/src/components/chat/ChatBubble.tsx
  frontend/src/components/chat/MessageContextMenu.tsx
Due: ts-lint

feat(chat): enrich conversation data with user info and add new endpoints for reactions and presence
  api/chat-service/src/handlers/chat_handlers.go
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/types/interfaces.go
  api/gateway/src/routes/chat.go
Due: go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway

feat(chat): implement chat API service and UI components for loading and error states
  frontend/src/components/ui/ErrorState.tsx
  frontend/src/components/ui/LoadingState.tsx
  frontend/src/components/ui/index.ts
  frontend/src/hooks/useMessagesData.ts
  frontend/src/hooks/useMobile.ts
  frontend/src/pages/MessagesPage.tsx
  frontend/src/services/chatApi.ts
  frontend/src/stores/chatStore.ts
  frontend/src/types/chat.ts
Due: ts-lint

refactor(chat): remove unused Plus button from ChatInput component
  frontend/src/components/chat/ChatInput.tsx
Due: ts-lint

feat(chat): add utility functions for conversation and message management
  frontend/src/utils/chatUtils.ts
Due: ts-lint

refactor(chat): remove debug logs and unused test reactions in ChatBubble component
  frontend/src/components/chat/ChatBubble.tsx
Due: ts-lint

feat(chat): enhance message and user info models, add reactions support, and update notification handling
  api/chat-service/src/models/message.go
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/services/notification_service.go
  api/chat-service/src/types/responses.go
  api/chat-service/src/websocket/connection_handlers.go
  api/chat-service/src/websocket/hub_gateway.go
  api/chat-service/src/websocket/types.go
Due: go-fmt-chat, go-vet-chat

feat(chat): add reaction handling methods to ChatService and update MessageReactions component
  frontend/src/components/chat/MessageReactions.tsx
  frontend/src/services/websocket.ts
  frontend/src/services/websocket/chatService.ts
Due: ts-lint

refactor(websocket): remove cleanup effect and retain connection for other components; add reaction handling methods to useWebSocketChat
  frontend/src/hooks/useWebSocketConnection.ts
Due: ts-lint

feat(reaction): enhance reaction handling with toggle support and validation; improve message ID handling in chat store
  api/chat-service/src/repository/chat_repository.go
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/websocket/hub_gateway.go
  frontend/src/stores/chatStore.ts
Due: go-fmt-chat, go-vet-chat, ts-lint

feat(chat): enrich messages with reactions in GetMessages method; update reaction handling in WebSocket and client
  api/chat-service/src/services/chat_service.go
  api/chat-service/src/websocket/hub_gateway.go
  api/gateway/src/websocket/chat_client.go
Due: go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway

e
  docker-compose.dev.yml
  frontend/Dockerfile
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/stores/index.ts
Due: ts-lint

t
  api/paiements-service/src/main.go
Due: none

Update api/gateway/src/routes/match.go
  api/gateway/src/routes/match.go
Due: go-fmt-gateway, go-vet-gateway

Update api/match-service/src/conf/db.go
  api/match-service/src/conf/db.go
Due: none

Update api/paiements-service/src/conf/env.go
  api/paiements-service/src/conf/env.go
Due: none

Update api/gateway/src/websocket/manager.go
  api/gateway/src/websocket/manager.go
Due: go-fmt-gateway, go-vet-gateway

Update api/paiements-service/src/handlers/subscription.go
  api/paiements-service/src/handlers/subscription.go
Due: none

chore(todos): remove outdated TODO_BACKEND.md file
  TODO_BACKEND.md
Due: none

feat(notifications): implement notification service for likes, profile views, and unlikes; integrate with interaction and profile view services
  api/match-service/go.sum
  api/match-service/src/services/interactions/core/interaction_service.go
  api/match-service/src/services/interactions/matches/match_management.go
  api/match-service/src/services/notifications/notification_service.go
  api/notify-service/src/notification_types.py
  api/user-service/src/services/notifications/notification_service.go
  api/user-service/src/services/profile_view_service.go
Due: go-fmt-user, go-vet-user

feat(payment): add test payment creation and synchronization endpoints; enhance logging and user model
  api/paiements-service/src/conf/db.go
  api/paiements-service/src/handlers/payment_handler.go
  api/paiements-service/src/handlers/subscription_handler.go
  api/paiements-service/src/handlers/webhook_handler.go
  api/paiements-service/src/main.go
  api/paiements-service/src/models/user.go
  api/paiements-service/src/routes/routes.go
  api/paiements-service/src/services/event_service.go
  api/paiements-service/src/services/payment_service.go
  api/paiements-service/src/services/stripe_service.go
  api/paiements-service/src/services/subscription_service.go
Due: none

Feat(Likes) Ajout onglet likes et profils
  frontend/src/components/demo/ProfileModal.tsx
  frontend/src/components/likes/LikeCard.tsx
  frontend/src/components/likes/LikesTab.tsx
  frontend/src/components/likes/LikesTabSimple.tsx
  frontend/src/components/likes/index.ts
  frontend/src/pages/MatchesPage.tsx
  frontend/src/services/matchService.ts
Due: ts-lint

feat(auth): migrate token management from secure storage to localStorage; update related services and components
  api/gateway/src/utils/token.go
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/hooks/useSecureAuth.ts
  frontend/src/pages/ConversationPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/cookieManager.ts
  frontend/src/services/secureStorage.ts
  frontend/src/services/websocket/connection.ts
  frontend/src/utils/tokenMigration.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

Path conditions:
  go-fmt-auth: any of: ^api/auth-service/.*\.go$
  go-vet-auth: any of: ^api/auth-service/.*\.go$
  go-fmt-chat: any of: ^api/chat-service/.*\.go$
  go-vet-chat: any of: ^api/chat-service/.*\.go$
  go-fmt-gateway: any of: ^api/gateway/.*\.go$
  go-vet-gateway: any of: ^api/gateway/.*\.go$
  go-fmt-user: any of: ^api/user-service/.*\.go$
  go-vet-user: any of: ^api/user-service/.*\.go$
  ts-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
