Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

.pre-commit-config.yaml:

repos:
  # Python format & lint - only for Python services
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^api/.*/src/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^api/.*/src/.*\.py$
        args: ["--profile", "black"]


  # Go format & lint - for each Go service
  - repo: local
    hooks:
      - id: go-fmt-auth
        name: go fmt (auth-service)
        entry: bash -c 'cd api/auth-service && go fmt ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-vet-auth
        name: go vet (auth-service)
        entry: bash -c 'cd api/auth-service && go vet ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-fmt-chat
        name: go fmt (chat-service)
        entry: bash -c 'cd api/chat-service && go fmt ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-vet-chat
        name: go vet (chat-service)
        entry: bash -c 'cd api/chat-service && go vet ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-fmt-gateway
        name: go fmt (gateway)
        entry: bash -c 'cd api/gateway && go fmt ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-vet-gateway
        name: go vet (gateway)
        entry: bash -c 'cd api/gateway && go vet ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-fmt-user
        name: go fmt (user-service)
        entry: bash -c 'cd api/user-service && go fmt ./...'
        language: system
        files: ^api/user-service/.*\.go$
      - id: go-vet-user
        name: go vet (user-service)
        entry: bash -c 'cd api/user-service && go vet ./...'
        language: system
        files: ^api/user-service/.*\.go$

  # TypeScript/React format & lint - frontend only
  - repo: local
    hooks:
      - id: ts-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

refactor: Remove matrix and performance routes from main application
  api/match-service/src/handlers/matrix.go
  api/match-service/src/handlers/performance.go
  api/match-service/src/main.go
Due: none

feat: Implement Redis caching support with configuration and fallback mechanisms
  api/match-service/src/conf/redis.go
  api/match-service/src/main.go
  api/match-service/src/utils/cache_service.go
Due: none

feat(notifications permanantes): notifs envoyer a la db + renvoi des msg quand connexion si message dans db
  api/auth-service/Dockerfile
  api/auth-service/go.mod
  api/chat-service/Dockerfile
  api/chat-service/go.mod
  api/gateway/Dockerfile
  api/gateway/go.mod
  api/notify-service/readme
  api/notify-service/src/notification_manager.py
  api/notify-service/src/redis_listener.py
  api/user-service/Dockerfile
  api/user-service/go.mod
  services/database/init.sql
Due: none

fix(ajout fichier): ajout db_connect de l'ancien commit
  api/notify-service/src/db_connect.py
Due: none

feat(Premium) Mise en place service premium avec stripe
  api/auth-service/Dockerfile
  api/auth-service/go.mod
  api/chat-service/go.mod
  api/gateway/Dockerfile
  api/gateway/src/main.go
  api/gateway/src/routes/paiements.go
  api/paiements-service/.air.toml
  api/paiements-service/.dockerignore
  api/paiements-service/Dockerfile
  api/paiements-service/go.mod
  api/paiements-service/go.sum
  api/paiements-service/src/main.go
  api/paiements-service/src/stripe/stripe.controller.go
  api/paiements-service/src/stripe/stripe.route.go
  api/user-service/Dockerfile
  api/user-service/go.mod
  docker-compose.dev.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/settings/PayementModal.tsx
  frontend/src/components/settings/PremiumModal.tsx
  frontend/src/components/settings/PremiumSection.tsx
  services/database/init.sql
Due: go-fmt-gateway, go-vet-gateway, ts-lint

feat: Add comprehensive TODO list for backend development of Matcha Dating App
  TODO_BACKEND.md
Due: none

feat(suppr notif): possible de supprimer les notifications de la db par le boutton de sup notif
  api/gateway/src/routes/notify.go
  api/notify-service/readme
  api/notify-service/src/main.py
  api/notify-service/src/notification_manager.py
  api/notify-service/src/redis_listener.py
  docker-compose.dev.yml
  frontend/src/hooks/ui/NotifImage.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

fix(route proctected + order of notif)
  api/gateway/src/routes/notify.go
  api/notify-service/src/notification_manager.py
Due: go-fmt-gateway, go-vet-gateway

FIX(ordre des notifs)
  api/notify-service/src/notification_manager.py
Due: none

fix(protection route delete)
  api/gateway/src/routes/notify.go
Due: go-fmt-gateway, go-vet-gateway

fix(premium) ajout volume paiement
  api/gateway/go.mod
  api/gateway/src/main.go
  api/gateway/src/routes/paiements.go
  api/gateway/src/services/config.go
  api/paiements-service/go.mod
  api/paiements-service/go.sum
  docker-compose.dev.yml
Due: go-fmt-gateway, go-vet-gateway

feat(notif api) fix(notification direct): les notifications s'affichent en direct doc(readme): ajout de docs
  api/notify-service/readme
  api/notify-service/src/main.py
  api/notify-service/src/notification_manager.py
  api/notify-service/src/redis_listener.py
Due: none

feat: Enhance registration process with image upload validation and default gender/sex preferences
  CLAUDE.md
  README.md
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/stores/registrationStore.ts
  frontend/src/types/registration.ts
  frontend/src/utils/registrationValidator.ts
Due: ts-lint

feat: Implement notification store with Zustand for managing notifications and their states
  api/gateway/go.mod
  api/gateway/src/proxy/proxy.go
  api/match-service/go.sum
  frontend/index.html
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/stores/notificationStore.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

fix: Update Go base image version to 1.25-alpine in Dockerfile
  api/match-service/Dockerfile
Due: none

fix: Remove unused port mappings from PostgreSQL, Redis, Notify, and Paiements services in docker-compose
  docker-compose.dev.yml
Due: none

feat: Implement WebSocket notification client and integrate with gateway service
  api/gateway/src/handlers/health.go
  api/gateway/src/websocket/manager.go
  api/gateway/src/websocket/notification_client.go
  api/notify-service/src/main.py
  api/notify-service/src/notification_manager.py
  api/notify-service/src/notification_types.py
  api/notify-service/src/redis_listener.py
Due: go-fmt-gateway, go-vet-gateway

fix: Comment out WebSocket notifications route in notify.go
  api/gateway/src/routes/notify.go
Due: go-fmt-gateway, go-vet-gateway

feat: Enhance WebSocket notification handling and add support for new notification types
  api/gateway/src/websocket/client.go
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/useWebSocketConnection.ts
  frontend/src/services/websocket/types.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

fix: Update Content Security Policy to remove localhost references
  frontend/index.html
Due: none

fix: Adjust password requirements to relax special character and common pattern constraints for testing
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/utils/passwordValidator.ts
Due: ts-lint

feat: Enhance images table with additional fields for file path, active status, description, and alt text
  services/database/init.sql
Due: none

refactor: Simplify UserTag struct by removing unused fields and comments
  api/user-service/src/models/user_tag.go
Due: go-fmt-user, go-vet-user

refactor: Remove CreatedAt field from Tag struct to simplify model
  api/user-service/src/models/tag.go
Due: go-fmt-user, go-vet-user

feat: Add public image serving routes and enhance image model with additional fields
  api/gateway/src/routes/media.go
  api/media-service/src/app.py
  api/user-service/src/handlers/profile_get.go
  api/user-service/src/models/image.go
  api/user-service/src/models/user.go
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

Fix(match) Reimplementation des boutons de match
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileDetails.tsx
  frontend/src/components/discover/mockUsers.ts
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/pages/DiscoverPage.tsx
Due: ts-lint

fix(docker compose) decommenter les volumes
  docker-compose.dev.yml
Due: none

feat: integrate GORM with PostgreSQL for payment service
  .env.dev
  api/gateway/src/routes/paiements.go
  api/paiements-service/API.md
  api/paiements-service/go.mod
  api/paiements-service/go.sum
  api/paiements-service/src/conf/db.go
  api/paiements-service/src/handlers/subscription.go
  api/paiements-service/src/handlers/webhook.go
  api/paiements-service/src/main.go
  api/paiements-service/src/middleware/auth.go
  api/paiements-service/src/models/payment.go
  api/paiements-service/src/models/stripe_event.go
  api/paiements-service/src/models/subscription.go
  api/paiements-service/src/stripe/stripe.controller.go
  api/paiements-service/src/stripe/stripe.route.go
  api/paiements-service/src/utils/response.go
  docker-compose.dev.yml
Due: go-fmt-gateway, go-vet-gateway

fix(geoloc) reajustement de la geolocalisation
  frontend/index.html
  frontend/src/components/edit-profile/sections/LocationCareerSection.tsx
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/hooks/useGeolocationCity.ts
Due: ts-lint

feat(payment-system): update database schema and environment variables for subscriptions and payments
  docker-compose.dev.yml
  services/database/init.sql
Due: none

feat(routes): add test endpoint for payment service and improve environment variable validation
  api/gateway/src/routes/paiements.go
  api/paiements-service/src/main.go
  api/paiements-service/src/stripe/stripe.route.go
Due: go-fmt-gateway, go-vet-gateway

feat(payment): implement subscription management and payment processing features
  api/gateway/src/routes/paiements.go
  api/gateway/src/websocket/handlers.go
  api/gateway/src/websocket/manager.go
  api/paiements-service/src/handlers/subscription.go
  api/paiements-service/src/middleware/auth.go
  docker-compose.dev.yml
  frontend/src/components/payment/PaymentForm.tsx
  frontend/src/components/payment/SubscriptionCard.tsx
  frontend/src/components/payment/index.ts
  frontend/src/contexts/StripeContext.tsx
  frontend/src/hooks/useSubscription.ts
  frontend/src/lib/stripe.ts
  frontend/src/main.tsx
  frontend/src/pages/SubscriptionPage.tsx
  frontend/src/pages/SubscriptionSuccessPage.tsx
  frontend/src/services/paymentService.ts
  services/database/init.sql
Due: go-fmt-gateway, go-vet-gateway, ts-lint

refactor(userStore): simplify profile fetching logic and comment out unused stores
  TODO_BACKEND.md
  frontend/src/stores/index.ts
  frontend/src/stores/userStore.ts
Due: ts-lint

fix(notif connect): recup des notifs quand login
  api/gateway/src/websocket/manager.go
  api/notify-service/src/main.py
Due: go-fmt-gateway, go-vet-gateway

fix(notif order)
  frontend/src/stores/notificationStore.ts
Due: ts-lint

fix(other id notif): mit un check dans le store de notification
  api/notify-service/src/main.py
  frontend/src/stores/notificationStore.ts
Due: ts-lint

feat: Enhance profile and matching features
  frontend/src/components/cards/ProfileCard.tsx
  frontend/src/components/demo/ProfileModal.tsx
  frontend/src/components/discover/ProfileImageCarousel.tsx
  frontend/src/components/profile/ProfilePhotos.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/ui/useToast.ts
  frontend/src/hooks/useMatches.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/matchService.ts
  frontend/src/utils/safeString.ts
Due: ts-lint

feat(matching) add support for retrieving candidate IDs and full profiles in matching algorithm
  api/match-service/src/handlers/matches.go
  api/match-service/src/services/algorithm_service.go
  api/match-service/src/services/match_service.go
Due: none

feat: Enhance profile and candidate handling in UI components and services
  frontend/src/components/cards/ProfileCard.tsx
  frontend/src/components/discover/NoMoreProfiles.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileInfo.tsx
  frontend/src/hooks/useMatches.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/services/matchService.ts
Due: ts-lint

fix(userStore) update profile fetching to handle ApiResponse type
  frontend/src/stores/userStore.ts
Due: ts-lint
