Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

.pre-commit-config.yaml:

repos:
  # Python format & lint - only for Python services
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^api/.*/src/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^api/.*/src/.*\.py$
        args: ["--profile", "black"]


  # Go format & lint - for each Go service
  - repo: local
    hooks:
      - id: go-fmt-auth
        name: go fmt (auth-service)
        entry: bash -c 'cd api/auth-service && go fmt ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-vet-auth
        name: go vet (auth-service)
        entry: bash -c 'cd api/auth-service && go vet ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-fmt-chat
        name: go fmt (chat-service)
        entry: bash -c 'cd api/chat-service && go fmt ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-vet-chat
        name: go vet (chat-service)
        entry: bash -c 'cd api/chat-service && go vet ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-fmt-gateway
        name: go fmt (gateway)
        entry: bash -c 'cd api/gateway && go fmt ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-vet-gateway
        name: go vet (gateway)
        entry: bash -c 'cd api/gateway && go vet ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-fmt-user
        name: go fmt (user-service)
        entry: bash -c 'cd api/user-service && go fmt ./...'
        language: system
        files: ^api/user-service/.*\.go$
      - id: go-vet-user
        name: go vet (user-service)
        entry: bash -c 'cd api/user-service && go vet ./...'
        language: system
        files: ^api/user-service/.*\.go$

  # TypeScript/React format & lint - frontend only
  - repo: local
    hooks:
      - id: ts-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

feat: add MatchCard, ViewedProfilesList, EmptyState, ErrorMessage, LoadingSpinner, and TabNavigation components; enhance MatchesPage with tab navigation and loading/error handling
  frontend/src/components/matches/MatchCard.tsx
  frontend/src/components/profile/ViewedProfilesList.tsx
  frontend/src/components/ui/EmptyState.tsx
  frontend/src/components/ui/ErrorMessage.tsx
  frontend/src/components/ui/LoadingSpinner.tsx
  frontend/src/components/ui/TabNavigation.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/ProfilePage.tsx
Due: ts-lint

feat: add test for mutual match creation in preferences service
  api/match-service/test/test_simple.go
Due: none

feat: implement profile view tracking service and related utilities; refactor handlers to utilize new service
  api/user-service/src/handlers/profile_views.go
  api/user-service/src/services/profile_view_service.go
  api/user-service/src/utils/auth_helpers.go
  api/user-service/src/utils/errors.go
  api/user-service/src/utils/pagination.go
  api/user-service/src/utils/profile_formatters.go
Due: go-fmt-user, go-vet-user

feat: add image reordering and metadata update functionality; implement new API endpoints and update image model
  api/media-service/src/app.py
  api/media-service/src/handlers/reorder.py
  api/media-service/src/models/image.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/services/imageService.ts
  frontend/src/stores/imageUploadStore.ts
  frontend/src/stores/index.ts
Due: ts-lint

feat: update Premium field to use sql.NullTime with default value in user models; add Notification model
  api/auth-service/src/models/users.go
  api/chat-service/src/models/user.go
  api/match-service/src/models/user.go
  api/user-service/src/models/notification.go
  api/user-service/src/models/user.go
Due: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-user, go-vet-user

feat: update user_preferences table to include learned preference vector fields and adjust user_id constraint
  services/database/init.sql
Due: none

refactor: rename index on user_preferences table to reflect last_updated field
  services/database/init.sql
Due: none

feat: implement user setup and preferences initialization for new users
  api/auth-service/src/services/user_creation.go
  api/auth-service/src/services/user_setup_client.go
  api/gateway/src/routes/user.go
  api/user-service/src/handlers/preferences.go
  api/user-service/src/handlers/user_setup.go
  api/user-service/src/main.go
  api/user-service/src/models/user_preference.go
  api/user-service/src/services/preferences_service.go
  api/user-service/src/utils/preference_defaults.go
Due: go-fmt-auth, go-vet-auth, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

feat: Add matching preferences modal and related hooks
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/filters/FilterHeader.tsx
  frontend/src/components/filters/FilterOptions.ts
  frontend/src/components/filters/FilterSection.tsx
  frontend/src/components/filters/FiltersScreen.tsx
  frontend/src/components/filters/MultiSelectFilter.tsx
  frontend/src/components/filters/RangeFilter.tsx
  frontend/src/components/filters/ShowMeFilter.tsx
  frontend/src/components/filters/TagsFilter.tsx
  frontend/src/components/preferences/MatchingPreferences.tsx
  frontend/src/components/preferences/MatchingPreferencesModal.tsx
  frontend/src/components/preferences/index.ts
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useMatchingFilter.ts
  frontend/src/hooks/usePreferences.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/services/matchService.ts
  frontend/src/services/preferencesService.ts
  frontend/src/stores/authStore.ts
  frontend/src/types/index.ts
  frontend/src/types/preferences.ts
  frontend/src/utils/typeCheck.ts
Due: ts-lint

feat: add preference components and hooks for user preferences management
  frontend/src/components/preferences/MatchingPreferences.old.tsx
  frontend/src/components/preferences/MatchingPreferences.tsx
  frontend/src/components/preferences/components/AgeRangeSection.tsx
  frontend/src/components/preferences/components/DistanceSection.tsx
  frontend/src/components/preferences/components/FameSection.tsx
  frontend/src/components/preferences/components/GenderSection.tsx
  frontend/src/components/preferences/components/LifestyleSection.tsx
  frontend/src/components/preferences/components/PreferencesActions.tsx
  frontend/src/components/preferences/components/ReligionSection.tsx
  frontend/src/components/preferences/components/TagsSection.tsx
  frontend/src/components/preferences/components/index.ts
  frontend/src/components/preferences/constants/genders.ts
  frontend/src/components/preferences/constants/index.ts
  frontend/src/components/preferences/constants/lifestyle.ts
  frontend/src/components/preferences/constants/religions.ts
  frontend/src/components/preferences/constants/tags.ts
  frontend/src/components/preferences/hooks/index.ts
  frontend/src/components/preferences/hooks/usePreferencesForm.ts
  frontend/src/components/preferences/index.ts
  services/database/user_preferences_classic.sql
Due: ts-lint

feat: implement user matching preferences retrieval and update functionality
  api/match-service/src/handlers/matches.go
  api/match-service/src/models/user_matching_preferences.go
  api/match-service/src/services/user_service.go
  api/user-service/IMPLEMENTATION_SUMMARY.md
Due: none

feat: set default profile image based on user gender
  api/user-service/src/models/user.go
Due: go-fmt-user, go-vet-user

feat: implement functionality to track and reset seen user profiles
  api/match-service/src/handlers/matches.go
  api/match-service/src/main.go
  api/match-service/src/models/user_seen_profile.go
  api/match-service/src/services/user_service.go
  services/database/init.sql
Due: none

feat: enhance profile details and navigation components with additional fields and improved layout
  api/user-service/src/models/user.go
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileDetails.tsx
  frontend/src/components/layout/SideNavigation.tsx
Due: go-fmt-user, go-vet-user, ts-lint

feat: round distance values in profile and map components for improved readability
  frontend/src/components/demo/ProfileModal.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileInfo.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/pages/Map.tsx
Due: ts-lint

feat: Refactor profile components and introduce new features
  frontend/src/components/discover/DetailSection.tsx
  frontend/src/components/discover/InfoCard.tsx
  frontend/src/components/discover/InterestsSection.tsx
  frontend/src/components/discover/PersonalPresentationSection.tsx
  frontend/src/components/discover/ProfileBio.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileContextualOverlay.tsx
  frontend/src/components/discover/ProfileDetails.tsx
  frontend/src/components/discover/ProfileDetailsHeader.tsx
  frontend/src/components/discover/ProfileHeader.tsx
  frontend/src/components/discover/ProfileInterests.tsx
  frontend/src/components/discover/ProfileQuickInfo.tsx
  frontend/src/components/preferences/hooks/usePreferencesForm.ts
  frontend/src/hooks/useMatches.ts
  frontend/src/hooks/useNormalizedProfile.ts
  frontend/src/utils/preferencesEvents.ts
  frontend/src/utils/profileFormatting.ts
Due: ts-lint

Implement preference updating and user matching services
  api/match-service/src/services/interaction_manager.go
  api/match-service/src/services/preference_repository.go
  api/match-service/src/services/preference_updater.go
  api/match-service/src/services/preferences_service.go
  api/match-service/src/services/profile_tracking_service.go
  api/match-service/src/services/user_matching_service.go
  api/match-service/src/services/user_preferences_manager.go
  api/match-service/src/services/user_repository.go
  api/match-service/src/services/user_service.go
Due: none

feat: Implement matching request builder and user matching service
  api/match-service/go.sum
  api/match-service/src/handlers/matches.go
  api/match-service/src/services/algorithm_service.go
  api/match-service/src/services/algorithms/algorithm_metrics.go
  api/match-service/src/services/algorithms/algorithm_router.go
  api/match-service/src/services/algorithms/algorithm_service.go
  api/match-service/src/services/algorithms/basic_matching_service.go
  api/match-service/src/services/algorithms/compatibility_service.go
  api/match-service/src/services/algorithms/index.go
  api/match-service/src/services/algorithms/matrix_service.go
  api/match-service/src/services/algorithms/vector_matching_service.go
  api/match-service/src/services/cache/cache_manager.go
  api/match-service/src/services/cache/cache_service.go
  api/match-service/src/services/doc.go
  api/match-service/src/services/interactions/interaction_manager.go
  api/match-service/src/services/interactions/interaction_service.go
  api/match-service/src/services/matching/match_service.go
  api/match-service/src/services/matching/matching_request_builder.go
  api/match-service/src/services/matching/user_matching_service.go
  api/match-service/src/services/preferences/preference_repository.go
  api/match-service/src/services/preferences/preference_updater.go
  api/match-service/src/services/preferences/preferences_service.go
  api/match-service/src/services/preferences/user_preferences_manager.go
  api/match-service/src/services/services.go
  api/match-service/src/services/types/index.go
  api/match-service/src/services/types/types.go
  api/match-service/src/services/users/profile_tracking_service.go
  api/match-service/src/services/users/user_repository.go
  api/match-service/src/services/users/user_service.go
  api/match-service/src/services/validation/request_validator.go
Due: none

feat: Implement algorithm metrics and routing for matching algorithms
  api/match-service/src/handlers/interactions_handler.go
  api/match-service/src/handlers/matches_handler.go
  api/match-service/src/handlers/preferences_handler.go
  api/match-service/src/handlers/profiles_handler.go
  api/match-service/src/services/algorithms/basic/basic_matching_service.go
  api/match-service/src/services/algorithms/compatibility/compatibility_service.go
  api/match-service/src/services/algorithms/core/algorithm_metrics.go
  api/match-service/src/services/algorithms/core/algorithm_router.go
  api/match-service/src/services/algorithms/core/algorithm_service.go
  api/match-service/src/services/algorithms/index.go
  api/match-service/src/services/algorithms/matrix/matrix_service.go
  api/match-service/src/services/algorithms/vector/vector_matching_service.go
  api/match-service/src/services/interactions/core/interaction_service.go
  api/match-service/src/services/interactions/index.go
  api/match-service/src/services/interactions/matches/match_management.go
  api/match-service/test/test_simple.go
  api/match-service/test_match.go
  api/match-service/test_redis_cache.go
Due: none

feat: Implement user preference retrieval in MatchingAlgorithmHandler
  api/match-service/src/handlers/matches_handler.go
  api/match-service/src/services/services.go
Due: none

refactor: Remove user preference model and related services, simplify preference handling
  api/match-service/src/conf/db.go
  api/match-service/src/handlers/preferences_handler.go
  api/match-service/src/models/user_preference.go
  api/match-service/src/services/algorithms/vector/vector_matching_service.go
  api/match-service/src/services/interactions/interaction_manager.go
  api/match-service/src/services/preferences/preference_repository.go
  api/match-service/src/services/preferences/preference_updater.go
  api/match-service/src/services/preferences/preferences_service.go
  api/match-service/src/services/services.go
Due: none

refactor: Remove user_preferences table to simplify matching system
  services/database/init.sql
Due: none

feat: Add profile visibility marking on user interactions in Like, Unlike, and Block handlers
  api/match-service/src/handlers/interactions_handler.go
  api/match-service/src/handlers/matches_handler.go
Due: none

feat: Enhance logging for algorithm execution and candidate retrieval processes
  api/match-service/src/services/algorithms/core/algorithm_router.go
  api/match-service/src/services/algorithms/core/algorithm_service.go
  api/match-service/src/services/algorithms/vector/vector_matching_service.go
  api/match-service/src/services/matching/match_service.go
  api/match-service/src/services/matching/user_matching_service.go
Due: none

feat: Update match and user interaction models to enforce unique constraints and add user matching preferences table
  api/match-service/src/models/match.go
  api/match-service/src/models/user_interaction.go
  services/database/init.sql
  services/database/user_preferences_classic.sql
Due: none

feat: Enhance logging for user interactions and match creation processes
  api/match-service/src/services/interactions/core/interaction_service.go
  api/match-service/src/services/interactions/interaction_manager.go
  api/match-service/src/services/interactions/matches/match_management.go
Due: none

feat: Implement unmatch functionality between users with corresponding handler and service methods
  api/match-service/go.mod
  api/match-service/go.sum
  api/match-service/src/handlers/matches_handler.go
  api/match-service/src/handlers/matches_handler_test.go
  api/match-service/src/main.go
  api/match-service/src/services/interactions/interaction_manager.go
  api/match-service/src/services/interactions/matches/match_management.go
  frontend/src/pages/MatchesPage.tsx
  frontend/src/services/matchService.ts
Due: ts-lint

fix: Corriger la modification des champs genre/sexPref et problème Invalid date
  api/user-service/src/handlers/profile_update.go
  api/user-service/src/handlers/types.go
  frontend/src/components/edit-profile/sections/BasicInfoSection.tsx
  frontend/src/hooks/api/useEditProfile.ts
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/utils/dateUtils.ts
Due: go-fmt-user, go-vet-user, ts-lint

feat: Rename ChatPage to ChatPageWebSocket for clarity and update routing
  TODO_BACKEND.md
  frontend/src/components/AppWrapper.tsx
Due: ts-lint

feat: Add JWT authentication support and configuration for development environment
  .env.dev.example
  api/media-service/src/utils/auth.py
  api/notify-service/src/auth.py
  api/notify-service/src/main.py
  docker-compose.dev.yml
Due: none

feat: Add LOG_LEVEL configuration for development environment
  .env.dev.example
  docker-compose.dev.yml
Due: none

feat: Implement logging for user authentication and remove debug prints
  api/gateway/src/proxy/proxy.go
  api/gateway/src/utils/logger.go
  api/user-service/src/middleware/auth.go
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

feat: Implement secure storage and cookie management for authentication tokens
  frontend/src/hooks/useSecureAuth.ts
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/cookieManager.ts
  frontend/src/services/secureStorage.ts
  frontend/src/utils/tokenMigration.ts
Due: ts-lint

feat: Refactor API calls to use centralized services and remove unused discover store
  frontend/src/components/settings/PayementModal.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/README.md
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/registration/useImageUpload.ts
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/useGeolocationCity.ts
  frontend/src/services/imageService.ts
  frontend/src/services/locationService.ts
  frontend/src/services/websocket/connection.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/discoverStore.ts
  frontend/src/stores/index.ts
  frontend/src/stores/userStore.ts
  frontend/src/utils/smashNotifications.ts
Due: ts-lint

feat: Centralize token management by using authService for token operations
  frontend/src/hooks/auth/useTokenRefresh.ts
  frontend/src/hooks/registration/useImageUpload.ts
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/hooks/useMatches.ts
  frontend/src/utils/smashNotifications.ts
Due: ts-lint

feat: Enhance security and performance with CSP updates, responsive design, and improved component styles
  frontend/index.html
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/components/registration/ProgressBar.tsx
  frontend/src/components/registration/StepIndicator.tsx
  frontend/src/components/ui/password-strength.tsx
  frontend/src/components/ui/photo-viewer.tsx
  frontend/src/index.css
  frontend/src/pages/ChatPageWebSocket.tsx
Due: ts-lint

feat: Update Content Security Policy for enhanced security and add CSP plugin for environment-based configuration
  frontend/index.html
  frontend/src/components/ui/password-strength.tsx
  frontend/vite.config.ts
Due: ts-lint

feat: Update Dockerfiles to enhance security by adding non-root user and adjusting permissions
  api/auth-service/Dockerfile
  api/chat-service/Dockerfile
  api/gateway/Dockerfile
  api/match-service/Dockerfile
  api/media-service/Dockerfile
  api/notify-service/Dockerfile
  api/paiements-service/Dockerfile
  api/user-creation/Dockerfile
  api/user-service/Dockerfile
  frontend/Dockerfile
Due: none

feat: Enhance security for services by adding security options and capabilities in docker-compose
  docker-compose.dev.yml
Due: none

feat: Replace docker-compose.yml with docker-compose.prode.yml for improved service configuration and security enhancements
  docker-compose.prode.yml
  docker-compose.yml
Due: none
