Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

.pre-commit-config.yaml:

repos:
  # Python format & lint - only for Python services
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^api/.*/src/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^api/.*/src/.*\.py$
        args: ["--profile", "black"]


  # Go format & lint - for each Go service
  - repo: local
    hooks:
      - id: go-fmt-auth
        name: go fmt (auth-service)
        entry: bash -c 'cd api/auth-service && go fmt ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-vet-auth
        name: go vet (auth-service)
        entry: bash -c 'cd api/auth-service && go vet ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-fmt-chat
        name: go fmt (chat-service)
        entry: bash -c 'cd api/chat-service && go fmt ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-vet-chat
        name: go vet (chat-service)
        entry: bash -c 'cd api/chat-service && go vet ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-fmt-gateway
        name: go fmt (gateway)
        entry: bash -c 'cd api/gateway && go fmt ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-vet-gateway
        name: go vet (gateway)
        entry: bash -c 'cd api/gateway && go vet ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-fmt-user
        name: go fmt (user-service)
        entry: bash -c 'cd api/user-service && go fmt ./...'
        language: system
        files: ^api/user-service/.*\.go$
      - id: go-vet-user
        name: go vet (user-service)
        entry: bash -c 'cd api/user-service && go vet ./...'
        language: system
        files: ^api/user-service/.*\.go$

  # TypeScript/React format & lint - frontend only
  - repo: local
    hooks:
      - id: ts-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

fix(userStore) remove ApiResponse type and streamline profile fetching
  frontend/src/stores/userStore.ts
Due: ts-lint

fix(connection notif)
  api/notify-service/src/main.py
  api/notify-service/src/notification_types.py
  frontend/src/hooks/ui/NotifImage.ts
  frontend/src/stores/notificationStore.ts
Due: ts-lint

chore(deps): update golang version to 1.25-alpine in Dockerfile
  api/match-service/Dockerfile
Due: none

feat: Add user report model and validation functions
  api/user-service/src/models/user_report.go
  api/user-service/src/utils/validation.go
  api/user-service/src/utils/validation_test.go
Due: go-fmt-user, go-vet-user

feat: Add ProfileView and UserPreference models with database schema updates
  api/user-service/src/models/profile_view.go
  api/user-service/src/models/user_preference.go
  services/database/init.sql
Due: go-fmt-user, go-vet-user

feat: Add email verification and premium fields to User model
  api/user-service/src/models/user.go
Due: go-fmt-user, go-vet-user

feat: Implement user preferences management with GET and PUT handlers
  api/gateway/src/routes/user.go
  api/user-service/IMPLEMENTATION_SUMMARY.md
  api/user-service/go.mod
  api/user-service/go.sum
  api/user-service/src/conf/db.go
  api/user-service/src/handlers/location.go
  api/user-service/src/handlers/media.go
  api/user-service/src/handlers/preferences.go
  api/user-service/src/handlers/profile_get_test.go
  api/user-service/src/handlers/profile_views.go
  api/user-service/src/handlers/reports.go
  api/user-service/src/handlers/search.go
  api/user-service/src/main.go
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

feat: Add comprehensive User Service API documentation
  doc/USER_SERVICE_API.md
Due: none

chore(deps): update gorm and related dependencies to latest versions
  api/match-service/go.mod
  api/match-service/go.sum
Due: none

feat(auth): implement password reset functionality with email notifications
  api/auth-service/src/conf/db.go
  api/auth-service/src/handlers/password.go
  api/auth-service/src/handlers_test.go
  api/auth-service/src/models/password_reset.go
  api/auth-service/src/models/users.go
  api/auth-service/src/services/email_service.go
  services/database/init.sql
Due: go-fmt-auth, go-vet-auth

feat(auth): add forgot and reset password functionality with corresponding pages and service methods
  frontend/src/hooks/auth/useLogin.ts
  frontend/src/main.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/services/passwordService.ts
Due: ts-lint

feat(auth): enhance password reset flow with improved email response and validation for new password
  api/auth-service/src/handlers/password.go
  api/auth-service/src/handlers_test.go
Due: go-fmt-auth, go-vet-auth

feat: Implement password reset and forgot password functionality
  frontend/src/components/forgot-password/EmailSentView.tsx
  frontend/src/components/forgot-password/ForgotPasswordForm.tsx
  frontend/src/components/forgot-password/index.ts
  frontend/src/components/password-reset/InvalidTokenView.tsx
  frontend/src/components/password-reset/PasswordResetForm.tsx
  frontend/src/components/password-reset/SuccessView.tsx
  frontend/src/components/password-reset/index.ts
  frontend/src/hooks/auth/useForgotPassword.ts
  frontend/src/hooks/auth/usePasswordReset.ts
  frontend/src/hooks/index.ts
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: ts-lint

feat: add templates directory to Dockerfile and docker-compose for email functionality
  api/auth-service/Dockerfile
  api/auth-service/src/handlers/password.go
  api/auth-service/src/services/email_service.go
  docker-compose.dev.yml
Due: go-fmt-auth, go-vet-auth

feat(config): centralize environment configuration and improve logging for payment service
  api/paiements-service/src/conf/db.go
  api/paiements-service/src/conf/env.go
  api/paiements-service/src/handlers/subscription.go
  api/paiements-service/src/handlers/webhook.go
  api/paiements-service/src/main.go
  api/paiements-service/src/stripe/stripe.route.go
  services/proxy/Caddyfile
Due: none

feat(subscription): add metadata to checkout session and improve logging in webhook handlers
  api/paiements-service/src/handlers/subscription.go
  api/paiements-service/src/handlers/webhook.go
Due: none

feat(api): add test card details for successful and error payment simulations
  api/paiements-service/API.md
Due: none

feat: implement reset functionality for user-specific stores and disconnect WebSocket on logout
  frontend/src/contexts/AuthContext.tsx
  frontend/src/stores/authStore.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/discoverStore.ts
  frontend/src/stores/notificationStore.ts
  frontend/src/stores/userStore.ts
Due: ts-lint

feat: add comprehensive documentation for the Matcha admin panel, including features, access, and API endpoints
  ADMIN_PANEL.md
  ADMIN_PANEL_README.md
Due: none

feat: add admin routes for login and dashboard access
  frontend/src/main.tsx
Due: ts-lint

fix: resolve merge conflicts and clean up route definitions in main.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
Due: ts-lint

fix: update Go base image version in Dockerfile and adjust package versions in pnpm-lock.yaml
  api/admin-servise/Dockerfile
  frontend/pnpm-lock.yaml
Due: none

fix: correct placement of StripeProvider in main.tsx
  frontend/src/main.tsx
Due: ts-lint

fix: remove unused matrix routes from match.go
  api/gateway/src/routes/match.go
Due: go-fmt-gateway, go-vet-gateway

feat: add premium features for received likes, including endpoints and UI components
  api/gateway/src/routes/match.go
  api/match-service/src/handlers/matches.go
  api/match-service/src/main.go
  api/match-service/src/services/interaction_service.go
  api/match-service/src/services/match_service.go
  frontend/src/components/premium/PremiumModal.tsx
  frontend/src/hooks/api/useDiscoverProfiles.ts
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/services/matchService.ts
  frontend/src/services/mockDataService.ts
Due: go-fmt-gateway, go-vet-gateway, ts-lint

Fix(Profile) requete api profil
  api/user-service/src/models/user.go
  frontend/src/components/profile/ProfileBasicInfo.tsx
  frontend/src/components/profile/ProfileLabels.ts
  frontend/src/components/profile/ProfileSections.tsx
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/api.ts
  frontend/src/stores/userStore.ts
Due: go-fmt-user, go-vet-user, ts-lint

feat: refactor routing into AppWrapper component for better organization
  frontend/src/components/AppWrapper.tsx
  frontend/src/main.tsx
Due: ts-lint

feat: add LocationFilters component and integrate with UserMap for enhanced user search functionality
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/map/LocationFilters.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/pages/Map.tsx
  frontend/src/services/locationService.ts
Due: ts-lint

feat: implement location-based user search and update functionality with new API routes
  api/gateway/src/routes/user.go
  api/user-service/src/handlers/location.go
  api/user-service/src/handlers/search.go
  api/user-service/src/handlers/types.go
  api/user-service/src/main.go
  api/user-service/src/middleware/auth.go
  api/user-service/src/utils/geolocation.go
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user

Fix (profil et inscription) La connexion se fait lors de l'inscription et les infos sont recuperees
  .env.dev
  api/gateway/src/middleware/jwt.go
  api/gateway/src/proxy/proxy.go
  api/user-service/src/handlers/GetOwnProfileHandler.go
  api/user-service/src/handlers/profile_update.go
  api/user-service/src/middleware/auth.go
  frontend/src/components/profile/ProfileBio.tsx
  frontend/src/hooks/registration/useRegistrationLogic.ts
  frontend/src/services/api.ts
Due: go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

Fix (editProfil) Sauvegarde des changements d'infos du profil
  api/user-service/src/handlers/profile_update.go
  api/user-service/src/handlers/types.go
  api/user-service/src/models/user.go
  frontend/src/components/edit-profile/TextArea.tsx
  frontend/src/components/edit-profile/sections/BioSection.tsx
  frontend/src/hooks/api/useEditProfile.ts
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/stores/userStore.ts
Due: go-fmt-user, go-vet-user, ts-lint

fix: correct type assertion for user ID in location handlers
  api/user-service/src/handlers/location.go
Due: go-fmt-user, go-vet-user

feat: add custom map icons for current and other users, and initialize map with user location
  frontend/src/components/map/MapIcons.ts
  frontend/src/components/map/UserMap.tsx
  frontend/src/pages/Map.tsx
Due: ts-lint

feat: implement mutual match creation logic and add tests for interaction scenarios
  api/match-service/src/models/match.go
  api/match-service/src/services/preferences_service.go
  api/match-service/src/test_simple.go
  api/match-service/test_match.go
Due: none

refactor: remove legacy relations table for improved database structure
  services/database/init.sql
Due: none

feat: update location handlers to return only matched users and adjust related components
  api/user-service/src/handlers/location.go
  api/user-service/src/main.go
  frontend/src/components/map/LocationFilters.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/pages/Map.tsx
  frontend/src/services/locationService.ts
Due: go-fmt-user, go-vet-user, ts-lint

feat: update UserMap to initialize map with user location from API and add fallback to browser geolocation
  frontend/src/components/map/UserMap.tsx
Due: ts-lint

feat: add profile analytics tracking and viewer statistics components
  frontend/src/components/demo/ProfileModal.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/profile/ProfileViewers.tsx
  frontend/src/hooks/api/useProfileAnalytics.ts
  frontend/src/pages/ProfilePage.tsx
Due: ts-lint

fix: update type casting for authenticated user ID and improve viewer handling in profile components
  api/user-service/src/handlers/profile_views.go
  frontend/src/components/profile/ProfileViewers.tsx
  frontend/src/pages/ProfilePage.tsx
Due: go-fmt-user, go-vet-user, ts-lint
