Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

.pre-commit-config.yaml:

repos:
  # Python format & lint - only for Python services
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^api/.*/src/.*\.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^api/.*/src/.*\.py$
        args: ["--profile", "black"]


  # Go format & lint - for each Go service
  - repo: local
    hooks:
      - id: go-fmt-auth
        name: go fmt (auth-service)
        entry: bash -c 'cd api/auth-service && go fmt ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-vet-auth
        name: go vet (auth-service)
        entry: bash -c 'cd api/auth-service && go vet ./...'
        language: system
        files: ^api/auth-service/.*\.go$
      - id: go-fmt-chat
        name: go fmt (chat-service)
        entry: bash -c 'cd api/chat-service && go fmt ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-vet-chat
        name: go vet (chat-service)
        entry: bash -c 'cd api/chat-service && go vet ./...'
        language: system
        files: ^api/chat-service/.*\.go$
      - id: go-fmt-gateway
        name: go fmt (gateway)
        entry: bash -c 'cd api/gateway && go fmt ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-vet-gateway
        name: go vet (gateway)
        entry: bash -c 'cd api/gateway && go vet ./...'
        language: system
        files: ^api/gateway/.*\.go$
      - id: go-fmt-user
        name: go fmt (user-service)
        entry: bash -c 'cd api/user-service && go fmt ./...'
        language: system
        files: ^api/user-service/.*\.go$
      - id: go-vet-user
        name: go vet (user-service)
        entry: bash -c 'cd api/user-service && go vet ./...'
        language: system
        files: ^api/user-service/.*\.go$

  # TypeScript/React format & lint - frontend only
  - repo: local
    hooks:
      - id: ts-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

feat(adminer): add adminer service to docker-compose and configure Caddyfile routing
  docker-compose.dev.yml
  docker-compose.yml
  proxy/Caddyfile
Due: none

feat(Gallery) Mise en place version mobile de la gallerie de profil avec photos pour chaque profil
  frontend/src/components/mobile/Conversation.tsx
  frontend/src/components/mobile/Gallery.tsx
  frontend/src/components/mobile/Profil.tsx
  frontend/src/components/mobile/Research.tsx
  frontend/src/components/pages/DesktopLayout.tsx
  frontend/src/components/pages/MobileLayout.tsx
Due: ts-lint

feat(Conversation) Liste des discussions et possibilite d'envoyer message
  frontend/src/components/mobile/Conversation.tsx
  frontend/src/components/mobile/ConversationList.tsx
  frontend/src/components/mobile/ConversationView.tsx
Due: ts-lint

fix(Norme) Mise a la norme
  frontend/src/components/mobile/ConversationList.tsx
Due: ts-lint

fix(Norme) Mise a la norme
  frontend/src/components/pages/MobileLayout.tsx
Due: ts-lint

feat(flame color): ajout des differents types de flames + affichage flamme plus importante
  frontend/public/BraseroBlue.PNG
  frontend/public/BraseroGray.PNG
  frontend/public/BraseroGreen.PNG
  frontend/public/BraseroPurple.PNG
  frontend/public/BraseroRed.PNG
  frontend/src/components/Notifications.tsx
  frontend/src/hooks/NotifImage.ts
Due: ts-lint

feat: add registration types and default data structure
  frontend/src/components/registration/HeightSlider.tsx
  frontend/src/components/registration/InputField.tsx
  frontend/src/components/registration/ProgressBar.tsx
  frontend/src/components/registration/SelectField.tsx
  frontend/src/components/registration/TagSelector.tsx
  frontend/src/components/registration/TextAreaField.tsx
  frontend/src/components/registration/index.ts
  frontend/src/components/registration/steps/AccountStep.tsx
  frontend/src/components/registration/steps/ActivityStep.tsx
  frontend/src/components/registration/steps/AppearanceStep.tsx
  frontend/src/components/registration/steps/BasicInfoStep.tsx
  frontend/src/components/registration/steps/InterestsStep.tsx
  frontend/src/components/registration/steps/LifestyleStep.tsx
  frontend/src/components/registration/steps/PersonalStep.tsx
  frontend/src/components/registration/steps/index.ts
  frontend/src/constants/registrationSteps.ts
  frontend/src/hooks/useRegistration.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/types/registration.ts
  frontend/src/types/registration.ts.backup
  frontend/src/utils/errorHandler.ts
Due: ts-lint

feat(onboarding): refactor onboarding steps into separate components and update navigation
  README.md
  frontend/src/components/onboarding/AccountStep.tsx
  frontend/src/components/onboarding/OnboardingHeader.tsx
  frontend/src/components/onboarding/OnboardingNavigation.tsx
  frontend/src/components/onboarding/PhotosStep.tsx
  frontend/src/components/onboarding/PreferencesStep.tsx
  frontend/src/components/onboarding/ProfileStep.tsx
  frontend/src/components/onboarding/index.ts
  frontend/src/pages/OnboardingPage.tsx
Due: ts-lint

feat(Notif) Systeme de notifications reactif
  frontend/src/components/Notifications.tsx
  frontend/src/hooks/NotifImage.ts
Due: ts-lint

feat(Auth) Add username and email availability check endpoint
  api/auth-service/src/handlers/auth.go
  api/auth-service/src/main.go
  api/auth-service/src/services/user_creation.go
  api/auth-service/src/types/request_types.go
  api/auth-service/src/utils/suggestions.go
  api/auth-service/src/utils/validation.go
  api/gateway/src/routes/auth.go
Due: go-fmt-auth, go-vet-auth, go-fmt-gateway, go-vet-gateway

chore: remove obsolete setup scripts and add user deletion script
  scripts/delete-user-cascade.sh
  setup-precommit-arch.sh
  setup-precommit.sh
  sript.sh
Due: none

chore: remove obsolete configuration files and workflows
  .editorconfig
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: implement user creation script with PostgreSQL integration and data generation
  api/user-creation/.dockerignore
  api/user-creation/Dockerfile
  api/user-creation/requirements.txt
  api/user-creation/src/main.py
  user-creation/docker-compose.yml
  user-creation/main.py
Due: none

chore: reorganize project structure by moving Caddyfile and database initialization scripts to appropriate directories
  REFACTORING_SUMMARY.md
  docker-compose.dev.yml
  services/database/init.sql
  services/proxy/Caddyfile
Due: none

chore: remove code quality section and pre-commit hook instructions from CLAUDE.md
  CLAUDE.md
Due: none

refactor(user_creation): remove unused createUserTags function and related import
  api/auth-service/src/services/createUserTags.go
  api/auth-service/src/services/user_creation.go
Due: go-fmt-auth, go-vet-auth

fix(Front) Modif photo, page message
  frontend/public/EmojiMatcha.png
  frontend/src/components/discover/DiscoverHeader.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileImageCarousel.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/components/layout/TopBar.tsx
  frontend/src/main.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/MessagesPage.tsx
Due: ts-lint

fix(responsive) 768 -> 925
  frontend/src/components/layout/ResponsiveLayout.tsx
  frontend/src/pages/ConversationPage.tsx
  frontend/src/pages/MessagesPage.tsx
Due: ts-lint

Refactor and remove unused components and code
  frontend/src/components/Notifications.tsx
  frontend/src/components/SignUpButton.tsx
  frontend/src/components/SignUpForm.tsx
  frontend/src/components/filters/FiltersScreen.tsx
  frontend/src/components/onboarding/PhotosStep.tsx
  frontend/src/components/registration/steps/InterestsStep.tsx
  frontend/src/components/ui/SignInButton.tsx
  frontend/src/hooks/useLogin.ts
  frontend/src/main.tsx
  frontend/src/pages/Accueil.tsx
  frontend/src/pages/CarouselDemo.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/ConversationPage.tsx
  frontend/src/pages/DiscoverPageDesktop.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/OnboardingPage.tsx
  frontend/src/types/registration.ts
Due: ts-lint

fix: correct import for InscriptionPage in main.tsx
  frontend/src/main.tsx
Due: ts-lint

refactor: update navigation paths to include '/app' prefix
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/hooks/useLogin.ts
  frontend/src/hooks/useRegistration.ts
  frontend/src/main.tsx
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
Due: ts-lint

feat: implement RootRedirect and AppLayout components; update routing paths
  frontend/src/components/RootRedirect.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/main.tsx
Due: ts-lint

refactor: reorganize route definitions for clarity and maintainability
  frontend/src/main.tsx
Due: ts-lint

refactor: update imports to use hooks and remove unused components; enhance layout structure
  frontend/src/components/RootRedirect.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/AuthenticatedLayout.tsx
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/components/layout/ResponsiveLayout.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/components/layout/TopBar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useLogin.ts
  frontend/src/main.tsx
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

refactor: update layout classes to use min-h-full for consistent height across components
  frontend/src/components/cards/BlurredLikeCard.tsx
  frontend/src/components/discover/ProfileDetails.tsx
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
Due: ts-lint

feat: integrate Zustand for state management; add auth, chat, discover, filters, and user stores
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useDiscoverProfiles.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/main.tsx
  frontend/src/stores/authStore.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/discoverStore.ts
  frontend/src/stores/filtersStore.ts
  frontend/src/stores/index.ts
  frontend/src/stores/userStore.ts
Due: ts-lint

refactor: comment out login function call and update route protection for app
  frontend/src/hooks/useLogin.ts
  frontend/src/main.tsx
Due: ts-lint

feat: add email verification and image upload steps to registration process; update routing and dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/index.ts
  frontend/src/constants/registrationSteps.ts
  frontend/src/hooks/useLogin.ts
  frontend/src/main.tsx
Due: ts-lint

feat(Filter) Factorisation du filter
  frontend/src/components/Notifications.tsx
  frontend/src/components/filters/FilterHeader.tsx
  frontend/src/components/filters/FilterOptions.ts
  frontend/src/components/filters/FilterSection.tsx
  frontend/src/components/filters/FiltersScreen.tsx
  frontend/src/components/filters/MultiSelectFilter.tsx
  frontend/src/components/filters/RangeFilter.tsx
  frontend/src/components/filters/ShowMeFilter.tsx
  frontend/src/components/filters/TagsFilter.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/components/profile/InfoCard.tsx
  frontend/src/components/profile/ProfileBasicInfo.tsx
  frontend/src/components/profile/ProfileBio.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/profile/ProfileInterests.tsx
  frontend/src/components/profile/ProfileLabels.ts
  frontend/src/components/profile/ProfilePhotos.tsx
  frontend/src/components/profile/ProfileSections.tsx
  frontend/src/components/profile/ProfileStats.tsx
  frontend/src/components/profile/UserProfileData.ts
  frontend/src/components/ui/IdMenu.tsx
  frontend/src/main.tsx
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
Due: ts-lint

reshape(profile) Changement de certaines fonts et couleurs
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/index.css
Due: ts-lint

feat(Filter) Slider a deux thumbs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/filters/FiltersScreen.tsx
  frontend/src/components/filters/RangeFilter.tsx
  frontend/src/components/ui/slider.tsx
Due: ts-lint

style(sideNav) modif des bg des boutons de nav
  frontend/src/components/layout/SideNavigation.tsx
Due: ts-lint

Refactor registration process: integrate email verification, enhance validation, and streamline data handling
  frontend/src/components/registration/SelectField.tsx
  frontend/src/components/registration/steps/AccountStep.tsx
  frontend/src/components/registration/steps/ActivityStep.tsx
  frontend/src/components/registration/steps/AppearanceStep.tsx
  frontend/src/components/registration/steps/BasicInfoStep.tsx
  frontend/src/components/registration/steps/EmailVerificationStep.tsx
  frontend/src/components/registration/steps/ImageUploadStep.tsx
  frontend/src/components/registration/steps/InterestsStep.tsx
  frontend/src/components/registration/steps/LifestyleStep.tsx
  frontend/src/components/registration/steps/PersonalStep.tsx
  frontend/src/components/registration/steps/index.ts
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/constants/registrationSteps.ts
  frontend/src/hooks/useRegistration.ts
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
  frontend/src/services/imageService.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/index.ts
  frontend/src/stores/registrationStore.ts
  frontend/src/types/registration.ts
  frontend/src/utils/enumValidation.ts
  frontend/src/utils/testRegistration.ts
Due: ts-lint

feat: implement email verification system with handlers, models, and SMTP configuration
  api/auth-service/src/conf/db.go
  api/auth-service/src/handlers/email_verification.go
  api/auth-service/src/main.go
  api/auth-service/src/models/email_verification.go
  api/auth-service/src/models/users.go
  api/auth-service/src/services/email_service.go
  api/auth-service/src/types/request_types.go
  api/gateway/src/routes/auth.go
  doc/EMAIL_SETUP.md
  docker-compose.dev.yml
  services/database/init.sql
Due: go-fmt-auth, go-vet-auth, go-fmt-gateway, go-vet-gateway

feat(notification): debut sse pb multi envoi
  api/notify-service/Dockerfile
  api/notify-service/src/main.py
  docker-compose.dev.yml
  frontend/src/hooks/NotifImage.ts
Due: ts-lint

feat(Localisation) Ajout Localisation dans le profil
  frontend/src/components/edit-profile/TextInput.tsx
  frontend/src/components/edit-profile/sections/ActivityEducationSection.tsx
  frontend/src/components/edit-profile/sections/AppearanceSection.tsx
  frontend/src/components/edit-profile/sections/BasicInfoSection.tsx
  frontend/src/components/edit-profile/sections/BioSection.tsx
  frontend/src/components/edit-profile/sections/LifestyleSection.tsx
  frontend/src/components/edit-profile/sections/LocationCareerSection.tsx
  frontend/src/components/edit-profile/sections/PersonalInfoSection.tsx
  frontend/src/components/edit-profile/sections/index.ts
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/data/EditProfileOptions.ts
  frontend/src/data/UserProfileData.ts
  frontend/src/hooks/useEditProfile.ts
  frontend/src/pages/EditProfilePage.tsx
Due: ts-lint

feat(Map) ajout map users
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/edit-profile/sections/LocationCareerSection.tsx
  frontend/src/components/map/UserMap.tsx
  frontend/src/main.tsx
  frontend/src/pages/Map.tsx
Due: ts-lint
