Repository maxg56/matcha: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-auth, go-vet-auth, go-fmt-chat, go-vet-chat, go-fmt-gateway, go-vet-gateway, go-fmt-user, go-vet-user, ts-lint

go-fmt-auth:
  name: go fmt (auth-service)
  entry: bash -c 'cd api/auth-service && go fmt ./...'
  language: system

go-vet-auth:
  name: go vet (auth-service)
  entry: bash -c 'cd api/auth-service && go vet ./...'
  language: system

go-fmt-chat:
  name: go fmt (chat-service)
  entry: bash -c 'cd api/chat-service && go fmt ./...'
  language: system

go-vet-chat:
  name: go vet (chat-service)
  entry: bash -c 'cd api/chat-service && go vet ./...'
  language: system

go-fmt-gateway:
  name: go fmt (gateway)
  entry: bash -c 'cd api/gateway && go fmt ./...'
  language: system

go-vet-gateway:
  name: go vet (gateway)
  entry: bash -c 'cd api/gateway && go vet ./...'
  language: system

go-fmt-user:
  name: go fmt (user-service)
  entry: bash -c 'cd api/user-service && go fmt ./...'
  language: system

go-vet-user:
  name: go vet (user-service)
  entry: bash -c 'cd api/user-service && go vet ./...'
  language: system

ts-lint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && pnpm run lint'
  language: system
  pass_filenames: false

feat(user): extend user model and database schema with additional fields and relationship types
  api/auth-service/src/handlers/auth.go
  api/auth-service/src/handlers_test.go
  api/auth-service/src/models/user.go
  api/auth-service/src/types/gender.go
  database/init.sql
Due: go-fmt-auth, go-vet-auth

feat(user): add relationship type to user registration and update user model
  api/auth-service/src/handlers/auth.go
  api/auth-service/src/models/user.go
  database/init.sql
  frontend/src/components/Notifications.tsx
  frontend/src/components/pages/MobileLayout.tsx
Due: go-fmt-auth, go-vet-auth, ts-lint

feat(user auto create): ajout d'un docker + algo creation + fix(init.sql): retirer age generataded always car fait crash
  database/init.sql
  delete-user-cascade.sh
  docker-compose.dev.yml
  user-creation/.dockerignore
  user-creation/Dockerfile
  user-creation/docker-compose.yml
  user-creation/main.py
  user-creation/requirements.txt
  user-creation/src/main.py
Due: none

fix(del-user-cas): eof line
  database/init.sql
  delete-user-cascade.sh
  user-creation/src/main.py
Due: none

fix(filters): reduce desktop filter box sizes and fix black eye color
  frontend/src/components/filters/FiltersScreen.tsx
Due: ts-lint

feat(settings): create comprehensive settings page with all database fields
  frontend/src/pages/CompleteSettingsPage.tsx
Due: ts-lint

feat(navigation): integrate comprehensive settings page into app routing
  frontend/src/main.tsx
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

feat(ui): add essential UI components for dating app interface
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/components/ui/switch.tsx
Due: ts-lint

feat(layout): add responsive layout system for mobile and desktop
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/BottomNavigation.tsx
  frontend/src/components/layout/ResponsiveLayout.tsx
  frontend/src/components/layout/SideNavigation.tsx
  frontend/src/components/layout/TopBar.tsx
Due: ts-lint

feat(cards): implement immersive profile cards and blurred like system
  frontend/src/components/cards/BlurredLikeCard.tsx
  frontend/src/components/cards/FullscreenProfileCard.tsx
  frontend/src/components/cards/ImmersiveProfileCard.tsx
  frontend/src/components/cards/MatchCard.tsx
  frontend/src/components/cards/ProfileCard.tsx
Due: ts-lint

feat(pages): redesign core dating app pages with immersive experience
  frontend/src/pages/DiscoverPage.tsx
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/MessagesPage.tsx
Due: ts-lint

feat(pages): add authentication and user interaction pages
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/OnboardingPage.tsx
  frontend/src/pages/ProfilePage.tsx
Due: ts-lint

feat(components): add chat interface and demo components
  frontend/src/components/chat/ChatBubble.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/demo/ComponentsDemo.tsx
  frontend/src/components/demo/LikeProfileModal.tsx
  frontend/src/components/demo/ProfileModal.tsx
  frontend/src/pages/CarouselDemo.tsx
  frontend/src/pages/DiscoverPageDesktop.tsx
Due: ts-lint

build: update dependencies and styling for dating app interface
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/index.css
Due: none

Refactor SettingsPage and add EditProfilePage
  frontend/src/main.tsx
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

feat(ui): add dark mode support and photo viewer component
  frontend/src/components/ui/photo-viewer.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/main.tsx
Due: ts-lint

refactor(layout): remove glassmorphism support from ResponsiveLayout
  frontend/src/components/layout/ResponsiveLayout.tsx
Due: ts-lint

style(css): update glassmorphism utilities and color scheme
  frontend/src/index.css
Due: none

feat(pages): apply consistent login-style theme to core pages
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

feat(pages): standardize ChatPage and MatchesPage styling
  frontend/src/pages/ChatPage.tsx
  frontend/src/pages/MatchesPage.tsx
Due: ts-lint

refactor(filters): replace liquid background with consistent theme
  frontend/src/components/filters/FiltersScreen.tsx
Due: ts-lint

feat(discover): redesign profile discovery with image carousel
  frontend/src/pages/DiscoverPage.tsx
Due: ts-lint

refactor(components): update cards and UI components styling
  frontend/src/components/cards/BlurredLikeCard.tsx
  frontend/src/components/chat/ChatBubble.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/demo/LikeProfileModal.tsx
  frontend/src/components/pages/MobileLayout.tsx
Due: ts-lint

fix(app): cleanup authentication pages and main app
  frontend/src/main.tsx
  frontend/src/pages/InscriptionPage.tsx
  frontend/src/pages/LoginPage.tsx
Due: ts-lint

feat(discover): implement profile discovery components and hooks
  frontend/src/components/discover/DiscoverHeader.tsx
  frontend/src/components/discover/NoMoreProfiles.tsx
  frontend/src/components/discover/ProfileActions.tsx
  frontend/src/components/discover/ProfileCard.tsx
  frontend/src/components/discover/ProfileDetails.tsx
  frontend/src/components/discover/ProfileImageCarousel.tsx
  frontend/src/components/discover/ProfileInfo.tsx
  frontend/src/components/discover/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDiscoverProfiles.ts
  frontend/src/hooks/useFilters.ts
  frontend/src/pages/DiscoverPage.tsx
Due: ts-lint

feat: Implement login components and hooks
  REFACTORING_SUMMARY.md
  frontend/src/components/login/LoginFooter.tsx
  frontend/src/components/login/LoginForm.tsx
  frontend/src/components/login/LoginHeader.tsx
  frontend/src/components/login/SignupSection.tsx
  frontend/src/components/login/index.ts
  frontend/src/components/profile/PhotoManager.tsx
  frontend/src/components/profile/SettingSection.tsx
  frontend/src/components/profile/TagSelector.tsx
  frontend/src/components/profile/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useChat.ts
  frontend/src/hooks/useEditProfile.ts
  frontend/src/hooks/useForm.ts
  frontend/src/hooks/useLogin.ts
  frontend/src/pages/LoginPage.tsx
Due: ts-lint

refactor(pages): remove unused imports and update copyright year
  frontend/src/pages/MatchesPage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

feat: Refactor profile and settings components
  frontend/src/components/edit-profile/InterestsSection.tsx
  frontend/src/components/edit-profile/PhotosSection.tsx
  frontend/src/components/edit-profile/SelectField.tsx
  frontend/src/components/edit-profile/SettingSection.tsx
  frontend/src/components/edit-profile/SliderField.tsx
  frontend/src/components/edit-profile/TextArea.tsx
  frontend/src/components/edit-profile/TextInput.tsx
  frontend/src/components/edit-profile/index.ts
  frontend/src/components/messages/ConversationsList.tsx
  frontend/src/components/messages/NewMatchesSection.tsx
  frontend/src/components/messages/index.ts
  frontend/src/components/registration/StepIndicator.tsx
  frontend/src/components/registration/index.ts
  frontend/src/components/settings/PremiumSection.tsx
  frontend/src/components/settings/SettingItem.tsx
  frontend/src/components/settings/SettingSection.tsx
  frontend/src/components/settings/index.ts
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/pages/MessagesPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: ts-lint

feat(auth): refine user registration by ensuring optional profile fields are clearly defined
  api/auth-service/src/handlers/auth.go
Due: go-fmt-auth, go-vet-auth

feat(models): create Users model with comprehensive user attributes and update references in handlers
  api/auth-service/src/conf/db.go
  api/auth-service/src/handlers/auth.go
  api/auth-service/src/handlers_test.go
  api/auth-service/src/models/users.go
Due: go-fmt-auth, go-vet-auth

feat(docker): add ports configuration for postgres and adminer services
  docker-compose.dev.yml
Due: none

refactor(user routes): update API versioning and restructure route groups for clarity
  api/gateway/src/routes/user.go
Due: go-fmt-gateway, go-vet-gateway

feat: implement user profile management with GORM and PostgreSQL
  api/user-service/go.mod
  api/user-service/go.sum
  api/user-service/src/conf/db.go
  api/user-service/src/handlers/profile_delete.go
  api/user-service/src/handlers/profile_get.go
  api/user-service/src/handlers/profile_update.go
  api/user-service/src/handlers/types.go
  api/user-service/src/main.go
  api/user-service/src/middleware/auth.go
  api/user-service/src/models/image.go
  api/user-service/src/models/tag.go
  api/user-service/src/models/user.go
  api/user-service/src/models/user_tag.go
  api/user-service/src/utils/response.go
  api/user-service/src/utils/tags.go
Due: go-fmt-user, go-vet-user

fix(env): add missing database host and port, enable auto migration
  .env.dev
  README.md
Due: none

fix(docker-compose): use environment variables for database and Redis configuration
  docker-compose.dev.yml
Due: none

feat(user): update age calculation trigger to handle updates and null birth dates
  database/init.sql
Due: none

fix(profile_delete): correct model reference for deleting user images
  api/user-service/src/handlers/profile_delete.go
Due: go-fmt-user, go-vet-user

feat(age): add automatic age update function and daily cron job
  database/.gitkeep
  database/init.sql
Due: none

fix(users): restore age column and remove pg_cron extension for daily age updates
  database/init.sql
Due: none

Path conditions:
  go-fmt-auth: any of: ^api/auth-service/.*\.go$
  go-vet-auth: any of: ^api/auth-service/.*\.go$
  go-fmt-chat: any of: ^api/chat-service/.*\.go$
  go-vet-chat: any of: ^api/chat-service/.*\.go$
  go-fmt-gateway: any of: ^api/gateway/.*\.go$
  go-vet-gateway: any of: ^api/gateway/.*\.go$
  go-fmt-user: any of: ^api/user-service/.*\.go$
  go-vet-user: any of: ^api/user-service/.*\.go$
  ts-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
